.mol-product-card {
  display: inline-flex;
  padding: 0.8rem;
  position: relative;
  text-align: center;

  > a {
    background-color: $color-white;
    border: 0.1rem solid $color-hrLightGray;
    border-radius: $bsn-border-radius;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: $grid-gutter-width / 3;
    transition: 0.3s linear;
    width: 100%;

    &:hover {
      box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
      transform: scale(1.05);

      .atm-card-button {
        display: flex;
      }
    }
  }

  .atm-card-image {
    display: flex;
    width: 100%;
  }
}

.atm-card-title {
  color: $color-almostBlack;
  font-family: $font-family-nunito-regular;
  font-size: $font-size-base;
  font-weight: 400;
  letter-spacing: -0.3px;
  padding-top: $grid-gutter-width / 3;
}

.atm-card-text {
  color: $color-lightGray;
  font-family: $font-family-open-sans-light;
  font-size: $font-size-xs;
  line-height: 1;

  > span {
    font-family: $font-family-open-sans-regular;
    font-size: $font-size-base;
    color: $color-printi-blue;
  }
}

.atm-card-button {
  @include border-radius;
  align-items: center;
  background-color: $color-green-light;
  box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
  color: $color-white;
  display: none;
  font-size: 10px;
  font-weight: bold;
  height: 4rem;
  justify-content: center;
  left: 50%;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
  top: 62%;
  transform: translate(-50%);
  width: 70%;
}

a:hover {
  text-decoration: none;
}
