@import "uploadTypeSchemas/canvas/index";
@import "uploadTypeSchemas/normal/index";

.page-upload {
	.container {
    .upload-container-canvasCentralized {
      display: flex;
      flex-direction: column;
      margin: 0 0 2rem 0;
      width: 98%;
      @include md {
        width: 95%;
      }
      @include lg {
      }
    }
	}
}
