.upload-file-container {
  border        : 1px dashed #c7c9cb;
  margin        : 1rem;
  border-radius : 3px;
  width         : 100%;
  height        : 20rem;
  cursor        : pointer;
  input[type=file] {
    width           : 1px;
    height          : 1px;
    opacity         : 0;
    overflow        : hidden;
    position        : absolute;
    z-index         : -1;
  }
  label {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    width  : 100%;
    height : 100%;
    & > * {
      pointer-events: none;
    }
  }
  .icons {
    display        : flex;
    flex-direction : row;
    .file-format-icon-container:first-child, .file-format-icon-container:last-child {
      width : 2rem;
      span {
        font-size : 0.6rem;
        color     : #b6bbc3;
      }
      svg {
        fill : #b6bbc3;
      }
    }
    .file-format-icon-container {
      width : 4rem;
      span {
        font-size : 1.2rem;
      }
    }
    .file-format-icon-container:nth-child(2), .file-format-icon-container:nth-child(4) {
      width : 3rem;
      span {
        font-size : 0.7rem;
        color     : #b6bbc3;
      }
      svg {
        fill : #b6bbc3;
      }
    }
  }
  p {
    color     : #6a6f7a;
    font-size : 1.2rem;
  }
  button {
    border-radius    : 3px;
    border           : 1px solid #006ee3;
    color            : #006ee3;
    background-color : transparent;
    text-transform   : uppercase;
    padding          : 0.3rem 2rem;
  }
  &.active {
    background-color : #eef3f9;
    border           : 1px dashed #006ee3;
  }
}
