@import 'banner-work';
@import 'details-work';

.tpl-work-us {
  .org-we-search {
    background-color: $color-white;
    padding: 6rem 0;
    .title-we-search {
      color: $color-almostBlack;
      font-family: $font-family-nunito-regular;
      font-size: $font-size-xxll;
      font-weight: lighter;
      text-transform: none;
      text-align: center;
    }
    .atm-skill-search {
      color: $color-almostBlack;
      display: flex;
      font-family: $font-family-nunito-regular;
      font-size: $font-size-lg;
      flex-wrap: wrap;
      li {
        align-items: center;
        border: 0.1rem solid $color-hrLightGray;
        display: flex;
        justify-content: center;
        margin: 0 2rem 2rem 0;
        padding: 3rem 0;
        width: calc((100%/3) - 1.4rem);
        &:nth-of-type(3n) {
          margin-right: 0;
        }
        svg {
          width: 3.1rem;
          height: 2.2rem;
          fill: $color-green-light;
        }
      }
    }
  }
  .org-look-jobs {
    align-items: center;
    background: url('../../assets/media/images/jobs-printi.png');
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    padding: 6rem 0;
    .title-look-jobs {
      color: $color-white;
      font-family: $font-family-nunito-regular;
      font-size: $font-size-xxll;
      font-weight: 300;
      letter-spacing: -0.72px;
      text-transform: none;
    }
    .desc-look-jobs {
      color: $color-white;
      font-size: $font-size-base;
      font-family: $font-family-open-sans;
      margin: 2rem 0 0 0;
    }
  }
  .org-owners-comments {
    display: flex;
    font-family: $font-family-open-sans;
    margin: 0 auto;
    width: 66%;
    .atm-comment {
      font-size: $font-size-xs;
      flex: 1;
      margin: 2rem 2rem 4rem 0;
      &:last-of-type {
        margin-right: 0;
      }
      .qrk-comment {
        color: $color-lightGray;
        background-color: $color-white;
        padding: 3rem;
        border-radius: 0.3rem;
        p { margin-bottom: 0;}
      }
      .qrk-img-comment {
        align-items: center;
        color: $color-almostBlack;
        display: flex;
        justify-content: center;
        text-align: center;
        flex: 0 0 auto;
        flex-direction: column;
        margin-top: -2rem;
        p {
          margin: 0;
        }
        .name-person-comment {
          font-size: $font-size-base;
          font-weight: 600;
          margin-top: 1rem;
        }
        .name-position-comment {
          font-size: $font-size-xs;
        }
      }
    }
  }
  /*org {
    mol {
      atm {
        qrk {

        }
      }
    }
  }*/

}