.org-look-jobs {
  align-items: center;
  background: url('../../assets/media/images/jobs-printi.png');
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  padding: 6rem 2rem;
  @include lg {
    padding: 6rem 0;
  }
  .title-look-jobs {
    color: $color-white;
    font-family: $font-family-nunito-regular;
    font-size: $font-size-h2;
    font-weight: 300;
    letter-spacing: -0.72px;
    text-transform: none;
    @include lg {
      font-size: $font-size-xxll;
    }
  }
  .desc-look-jobs {
    color: $color-white;
    font-size: $font-size-base;
    font-family: $font-family-open-sans;
    margin: 2rem 0 0 0;
  }
}