@import "cimpress-components/top-menu-bar/index";
@import "cimpress-components/canvas-tool-bar/index";
@import "cimpress-components/canvas-area/index";
@import "cimpress-components/bottom-menu-bar/index";
@import "cimpress-components/side-bar-panel/index";

.upload__canvas-schema {
  display: none;
  margin: 2rem 0;
  flex-direction: column;
  width: 100%;
  &.show {
    display: flex;
  }
  .cimpress-alert-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      margin: 1.5rem 0;
      padding: 0;
    }
    svg {
      width: 8rem;
      height: 8rem;
      fill: #f7ba8a;
      margin: 1.5rem 0;
    }
    span {
      text-align: center;
    }
    .buttons-block {
      margin-top: 1rem;
      .app__qrk__button {
        padding: 0 3rem;
        margin-right: 1rem;
      }
    }
  }
  .canvas-cut-preview {
    .previews {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .preview-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          margin-top: 0.5rem;
          color: #151617;
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: bold;
        }
        .image-card {
          width: 29rem;
          background-color: #e6e7e9;
          border: 1px solid #c7c9cb;
          position: relative;
          cursor: zoom-in;
          &:hover {
            background-color: #f7f7f8;
            opacity: 0.7;
          }
          .hand {
            position: relative;
            width: 29rem;
            top: 0;
            left: 0;
            z-index: 1;
          }
          &.first {
            margin-right: 1rem;
            .card {
              position: absolute;
              height: 12.6rem;
              top: 4.3rem;
              left: 6.7rem;
            }
          }
          &.second {
            .card {
              position: absolute;
              height: 12.6rem;
              top: 4.3rem;
              right: 6.7rem;
            }
            .hand {
              transform: scale(-1, 1)
            }
          }
        }
      }
    }
    .footer {
      margin-top: 2rem;
      padding-bottom: 1rem;
      width: 100%;
      background-color: #f6f5e4;
      .header {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
        h4 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          svg {
            width: 2rem;
            margin-right: 0.5rem;
          }
        }
      }
      .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.2rem;
        svg {
          width: 1rem;
          margin-right: 0.3rem;
        }
      }
      .items {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 0;
        padding: 0 2rem;
      }
    }
  }
  .upload__canvas-schema_main-area-container {
    display        : flex;
    width          : 100%;
    margin-bottom  : 1rem;
    flex-direction : row;
    .upload__canvas-schema_sidebar-container {
      display        : flex;
      width          : 27.5%;
      flex-direction : column;
      margin-top     : 1.5rem;
      border         : 1px solid #dbdddf;
      border-radius  : 3px;
    }
    .upload__canvas-schema_canvas-container {
      display        : flex;
      flex-direction : column;
      width          : 68%;
      margin         : 1.5rem 2.25% 0 2.25%;
    }
  }
}
