.mol-tabs-header {
  display: flex;
  margin-bottom: 2rem;
  position: relative;
  width: auto;

  @include lg {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
}
.atm-tab-nav {
  background-color: transparent;
  border: 0 solid transparent;
  border-top-width: 0.3rem;
  border-bottom-width: 0.3rem;
  color: #6a6f7a;
  font-size: $font-size-sm;
  letter-spacing: 0.12rem;
  margin: 0 0.8rem;
  padding: 0.8rem 1.6rem;
  transition: 0.3s linear;
  white-space: nowrap;

  @include lg {
    border: 0.1rem solid transparent;

    &--active {
      border-color: $color-printi-blue;
    }
  }

  &:hover {
    color: $color-printi-blue;
  }

  &--active {
    border-bottom-color: $color-printi-blue;
    color: $color-printi-blue;
  }
}
