.atm-error-text {
  align-self: center;
  display: inline-flex;
  font-family: $font-family-open-sans;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #ff636e;

  svg {
    fill: currentColor;
    height: 2rem;
    width: 2rem;
  }

  span {
    padding-left: 1rem;
  }
}
