@import "topbar";

.app__header {
  background-color: #ddd; // TODO: Remove this
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 2;

  @include lg {
    height: ($header-height + $topbar-height);
  }

  &__logo {
    text-align: center;

    svg {
      height: 5rem;
    }
  }

  &__container {

  }
}
