@import "topbar";

.org-header {
  background-color: $color-white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 7;

  .org-topbar {
    background-color: $color-white;
    border-bottom: 0.1rem solid #ebedf0;
    color: #242b33;
    font-family: $font-family-open-sans;
    font-size: $font-size-xxs;
    line-height: 1.6;
    height: 2.5rem;
    position: relative;
    transition: height 0.3s ease;
    z-index: 3;

    > div {
      align-items: center;
      color: inherit;
      display: flex;
      font-family: inherit;
      height: 100%;
      justify-content: flex-end;

      .atm-topbar-link {
        align-items: center;
        background-color: transparent;
        border: transparent;
        color: inherit;
        display: inline-flex;
        font-family: inherit;
        margin-left: 1.8rem;
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
          color: $color-printi-blue;
          text-decoration: none;
        }
      }

      svg {
        fill: currentColor;
        height: 1.2rem;
        margin-left: 0.6rem;
        width: 1.2rem;
      }

      .atm-topbar-referral {
        svg {
          fill: #006ee3;
        }
      }
    }

    .mol-topbar-models {
      position: relative;

      .atm-topbar-link {
        height: 2.5rem;
      }

      .mol-topbar-modelList {
        background-color: $color-white;
        border-radius: 0 0 $bsn-border-radius $bsn-border-radius;
        box-shadow: 0.8rem 0.8rem 1rem 0 rgba(83, 117, 153, 0.5);
        display: none;
        flex-direction: column;
        height: 30rem;
        left: 50%;
        position: absolute;
        top: 2.5rem;
        transform: translateX(-50%);
        overflow: hidden;
        overflow-y: auto;
        width: 30rem;
        z-index: 1;

        li {
          align-items: center;
          display: inline-flex;
          height: 3rem;
          max-height: 3rem;
          min-height: 3rem;
          padding: 0.8rem 0.8rem 0.8rem 1.6rem;
          width: 100%;

          a {
            color: $color-almostBlack;
            text-decoration: none;
            transition: 0.3s ease;

            &:hover {
              color: $color-printi-blue;
              text-decoration: none;
            }
          }
        }
      }

      &:hover {
        .atm-topbar-link {
          color: $color-printi-blue;
        }

        .mol-topbar-modelList {
          display: block;
        }
      }
    }
  }

  &--scrolled {
    .org-topbar {
      height: 0;
      overflow: hidden;
    }

    &.org-header .org-header-content {
      height: 5.6rem;

      .atm-printi-logo svg {
        height: 4rem;
      }
    }
  }

  .org-header-content {
    background-color: $color-white;
    height: 7.2rem;
    position: relative;
    z-index: 2;

    .container {
      align-items: center;
      display: flex;
      height: 100%;
    }
  }

  .org-header-content {
    .atm-printi-logo {
      height: 100%;
      margin-left: -0.8rem;
      margin-right: 0.8rem;

      a {
        align-items: center;
        display: inline-flex;
        height: 100%;
        padding: 0 0.8rem;
        width: 100%;
      }
      svg {
        display: inline-flex;
        height: 4.8rem;
      }
    }
  }

  .mol-header-button {
    height: 100%;
    position: relative;
    width: auto;

    &--no-position {
      position: initial;
    }

    .atm-header-button {
      align-items: center;
      background-color: transparent;
      border: transparent;
      color: #242b33;
      cursor: pointer;
      display: inline-flex;
      height: 100%;
      font-family: $font-family-open-sans;
      font-size: $font-size-xs;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      padding: 0 0.8rem;
      text-transform: uppercase;
      transition: 0.3s ease-in-out;

      svg {
        display: inline-flex;
        fill: currentColor;
        height: 1.6rem;
        width: auto;
        margin-right: 1.2rem;
      }

      &-products {
        border: 0 solid transparent;
        border-bottom-width: 0.3rem;
        border-top-width: 0.3rem;

        &--active {
          color: $color-printi;
          border-bottom-color: $color-printi;

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .mol-header-button-hidden {
      display: none;
      opacity: 0;
      transition: 0.3s ease;
    }

    &:hover {
      .atm-header-button {
        color: $color-printi-blue;
      }

      .mol-header-button-hidden {
        display: flex;
        opacity: 1;
      }
    }
  }

  .atm-header-icon-button {
    background-color: transparent;
    border: transparent;
    color: #242b33;
    display: inline-flex;
    height: 100%;
    padding: 0 0.8rem;

    svg {
      display: inline-flex;
      fill: currentColor;
      height: 2.4rem;
      transition: 0.3s ease-in-out;
      width: auto;
    }

    &:hover {
      svg {
        fill: $color-printi-blue;
      }
    }
  }

  .mol-header-search {
    display: inline-flex;
    height: 4rem;
    transition: 0.3s ease-in-out;
    width: 100%;

    @include lg {
      border: 0.1rem solid $color-silver;
      border-radius: $bsn-border-radius;
      flex-grow: 2;
      margin: 0 0.8rem;
      width: auto;
    }

    input {
      background: transparent;
      border: 0.1rem solid $color-silver;
      border-left: transparent;
      border-right: transparent;
      font-family: $font-family-open-sans;
      font-size: $font-size-xs;
      outline: none;
      padding: 0.8rem 1.6rem;
      width: calc(100% - 8rem);

      @include lg {
        border: transparent;
      }
    }

    button {
      align-items: center;
      background: $color-printi-blue;
      border: transparent;
      color: $color-white;
      display: inline-flex;
      justify-content: center;
      height: 100%;
      width: 8rem;

      @include lg {
        border-radius: $bsn-border-radius;
      }

      svg {
        fill: currentColor;
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
}

.mol-mobile-header {
  align-items: center;
  display: flex;
  height: 6rem;
  width: 100%;

  > * {
    @include center-child-flex;
    height: 4rem;
  }

  .mol-header-button--menu {
    width: 5rem;

    .atm-header-icon-button {
      width: 100%;

      svg {
        height: 2rem;
      }
    }
  }

  .atm-printi-logo {
    flex-grow: 2;

    svg {
      height: 4rem;
    }
  }
}
