@import "topbar";

.app__header {
  background-color: #ddd; // TODO: Remove this
  height: 10rem;

  &__logo {
    text-align: center;

    svg {
      height: 5rem;
    }
  }

  &__container {

  }
}
