@import "choose-settings";
@import "download-template";
@import "products-template";

.title-timeline {
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-sm;
  @include lg {
    font-size: $font-size-lg;
  }
}
.subtitle-timeline {
  color: $color-lightGray;
  font-family: $font-family-open-sans-light;
  font-size: $font-size-xs;
  @include lg {
    font-size: $font-size-base;
  }
}

.container-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  @include lg {
    flex-direction: row;
    margin: 3rem 0;
  }
  .list-timeline {
    align-items: center;
    border: 0.1rem solid transparent;
    border-radius: 1.5rem;
    display: inline-flex;
    font-family: $font-family-open-sans-regular;
    font-size: $font-size-xs;
    justify-content: center;
    padding: 0.5rem 0.9rem;
    overflow: hidden;
    @include lg {
      align-items: center;
      border: 0.1rem solid $color-silver;
      justify-content: center;
    }
    .item-list-timeline {
      align-items: center;
      color: $color-lightGray3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1rem;
      text-transform: uppercase;
      width: 110px;
      text-align: center;
      @include lg {
        flex-direction: row;
        width: auto;
      }
      &:last-of-type {
        margin-right: 0;
      }
      span {
        background-color: $color-lightGray3;
        border-radius: 1.5rem;
        color: $color-white;
        height: 2rem;
        margin-right: 0;
        padding: 0.1rem 0.6rem;
        text-align: center;
        width: 2rem;
        position: relative;
        @include lg {
          padding: 0.1rem 0.7rem;
          margin-right: 0.5rem;
        }
        &.after {
          &:after {
            background-color: $color-hrLightGray;
            content: '';
            height: 0.1rem;
            left: 100%;
            position: absolute;
            top: 50%;
            width: 600px;
            @include lg  {
              background-color: transparent;
            }
          }
        }
        &.after-before {
          &:after {
            background-color: $color-hrLightGray;
            content: '';
            height: 0.1rem;
            left: 100%;
            position: absolute;
            top: 50%;
            width: 600px;
            @include lg {
              background-color: transparent;
            }
          }          
          &:before {
            background-color: $color-hrLightGray;
            content: '';
            height: 0.1rem;
            position: absolute;
            right: 100%;
            top: 50%;
            width: 600px;
            @include lg {
              background-color: transparent;
            }
          }
        }
        &.before {
          &:before {
            background-color: $color-hrLightGray;
            content: '';
            height: 0.1rem;
            position: absolute;
            right: 100%;
            top: 50%;
            width: 600px;
            @include lg {
              background-color: transparent;
            }
          }
        }
      }
      &.is-active {
        color: $color-printi-blue;
        span {
          background-color: $color-printi-blue;
        }
      }
    }
  }
  .mol-action-button {
    border: 0.1rem solid $color-hrLightGray;
    border-radius: 0.3rem;
    display: flex;
    @include lg {
      margin-top: 2rem;
    }
    .app__qrk__input-container--labeled {
      flex:6;
      input {
        background-color: #eee;
        border: 0.1rem solid transparent;
      }
    }
    .btn-default {
      flex: 1;
      background-color: #eee;
      svg {
        fill: $color-silver;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
