.upload__canvas-schema__side-image-bar {
  display: flex;
  flex-direction: column;
  .side-image-bar__button-container {
    display: flex;
    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: center;
    background-color: $color-sky-blue-light;
    .dcl-upload-button {
      display: flex;
      width: 100%;
      height: 8rem;
      align-items: center;
      justify-content: center;
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 87%;
        height: 4rem;
        background-color: $color-printi;
        border: none;
        border-radius: 3px;
        transition: 0.3s;
        .files-icon {
          display: flex;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
          color: $color-white;
          line-height: 0.9;
          svg {
            fill: $color-white;
            .add-file-icon-fill {
              fill: $color-printi !important;
            }
          }
        }
        &:hover {
          background-color: $color-darkBlue;
        }
        span {
          display: flex;
          color: $color-white;
          font-family: $font-family-open-sans-bold;
          font-weight: 700;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .side-image-bar__thumbnail-container {
    display: flex;
    width: 100%;
    height: 55rem;
    overflow: auto;
    .dcl-widget-upload-list {
      display: flex;
      width: 100%;
      margin-top: 3rem;
      .dcl-thumb-list {
        .dcl-thumb__actions__link--delete {
          width: 30px;
          height: 30px;
          padding: 3%;
          .dcl-thumb__actions__icon {
            border: none;
          }
          &:hover {
            transform: none;
          }
        }
        .dcl-thumb__pdf {
          border: 1px solid #e1e6eb;
          .dcl-pdf-thumb__image {
            .dcl-pdf-thumb__actions-icon {
              .dcl-pdf-thumb__actions--hover {
                display: none;
              }
            }
            .dcl-thumb__actions__link--delete {
              top: 2%;
              right: 2%;
              .dcl-thumb__actions__icon {
                border: none;
                .dcl-icon__use {
                }
              }
            }
            .dcl-thumb__multipage-icon {
              display: none;
              .dcl-icon__use {
                fill: $color-sky-blue-light;
                stroke: $color-printi;
              }
            }
            &:hover {
              &:after {
                content: '';
                opacity: 0.35;
                z-index: 1;
                background: $color-pastel-blue;
              }
            }
          }
        }
        .dcl-thumb {
          border: 1px solid #e1e6eb;
          &:hover {
            &:after {
              content: '';
              opacity: 0.35;
              z-index: 1;
              background: $color-pastel-blue;
            }
          }
          .dcl-thumb__active-indicator {
            padding: 6%;
            .dcl-thumb__actions__icon {
              padding: 15%;
              border: none;
              .dcl-icon__use {
                fill: $color-printi;
              }
            }
          }
        }
      }
    }
  }
}
