.page-cart {
  // background: url('../../assets/media/images/4.1.3-UpSelling.jpg') no-repeat -108px -90px;
  margin-bottom: 3rem;

  @include md-only {
    > main {
      padding: 0 1rem;
    }
  }
}

.org-cart-stickbar {
  background-color: $color-white;
  border-radius: 0.3rem;
  box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.3);
  padding: 2.5rem 1rem;

  ~ .atm-button-rounded {
    height: 4rem;
    margin-top: 3rem;
    width: 100%;
  }
}

.atm-cart-sidebar-title {
  color: #151617;
  font-family: $font-family-nunito-regular;
  font-size: $font-size-lg;
  padding: 0 1rem;
}

.mol-cart-sidebar-summary {
  margin-top: 2rem;

  > div {
    span,
    button {
      padding: 0 1rem;
    }
  }

  .mol-cart-summary-total {
    border-top: 0.1rem solid #dbdddf;
    margin-top: 1rem;
    padding: 1.5rem 0 0;
  }
}
