@import "available-upload-icon";
@import "available-upload-strategy";
@import "available-upload-extra-info";

.available-upload-strategies-container {
  width          : 100%;
  margin         : 2rem 0;
  display        : flex;
  flex-direction : column;
  @include lg{
    padding        : 0 3rem;
  }
  .strategies {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    @include lg{
      flex-direction : row;
    }
  }
}
