.container-highlight {
  margin-bottom: 6.5rem;

  .boxes-highlight {
    margin: 0 -1rem;

    .box-highlight {
      cursor: pointer;
      left: 0;
      padding: 0 1rem;
      position: relative;

      img {
        border-radius: 0.4rem;
        display: block;
        padding-bottom: 1px;
        width: 100%;
      }

      .desc-highlight {
        border-radius: 0.4rem;
        bottom: 0;
        color: $color-white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        padding: 2rem;
        position: absolute;
        transition: 0.3s ease;
        width: calc(100% - 2rem);

        &:hover {
          background-color: rgba(0, 110, 227, 0.5);
        }

        .box-highlight-title {
          font-family: $font-family-nunito-regular;
          font-size: $font-size-il;
          font-weight: 400;
          line-height: 3rem;
          margin-bottom: 1.8rem;
          @include lg {
            width: 80%;
          }
        }

        p {
          font-family: $font-family-open-sans-light;
          font-size: $font-size-xs;
          line-height: 2rem;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
    }
  }

  .atm-carousel-arrow--prev {
    left: -5rem;
  }

  .atm-carousel-arrow--next {
    right: -5rem;
  }
}
