@import "aboutCloud";
@import "benefitsCloud";
@import "cloudCustomized";
@import "orderPlataform";
@import "guiteCloud";


.org-banner-cloud {
  &.bg-mobile {
    background: url('../../assets/media/images/cloud-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 570px;
    margin-top: 2rem;
  }
  @include lg {
    margin-top: 2rem;
  }
  .mol-banner-cloud {
    position: relative;
    .atm-banner-cloud {
      padding-top: 2rem;
      @include lg {
        background-color: rgba(0, 0, 0, 0.84);
        background-color: transparent;
        left: 6rem;
        position: absolute;
        top: 6rem;
        width: 48%;
      }
      .qrk-title-banner-cloud {
        color: $color-printi-blue;
        font-family: $font-family-open-sans-bold;
        font-size: $font-size-lg;
        letter-spacing: 0.18rem;
        text-transform: uppercase;
      }
      .qrk-subtitle-banner-cloud {
        color: $color-white;
        font-family: $font-family-nunito-light;
        font-size: $font-size-xxx;
        font-weight: 300;
        margin: 2.6rem 0;
        padding-bottom: 0;
        text-transform: none;
      }
      .qrk-text-banner-cloud {
        color: $color-white;
        font-family: $font-family-open-sans-light;
        font-size: $font-size-base;
      }
    }
  }
}

.org-customers-rely {
  margin-top: 2rem;
}
