@import "empty";

.mol-cart-header{
  display: flex;
  &--mobile {
    align-items: center;
    color: $color-green;
    font-family: $font-family-open-sans;
    font-size: 2.1rem;
    font-weight: bold;

    .atm-cart-totalItems {
      padding-left: 1rem;
    }
  }
}

.org-cart-item {

  &--mobile {
    display: flex;
    flex-direction: column;
    margin-top: ($grid-gutter-width / 3) * 2;
  }
}

.org-cart-section {
  @include border-radius;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  margin-top: ($grid-gutter-width / 3) * 2;
  padding: 2rem 1rem;

  .mol-cart-item-data {
    align-items: center;
    display: flex;

    img {
      border: solid 1px #dbdddf;
      display: inline-flex;
      height: 6.5rem;
      width: 6.5rem;
    }
  }

  .mol-cart-item-section-title {
    border-bottom: 0.1rem solid $color-hrLightGray;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .mol-input-action{
    margin-top: 1rem;
  }

  .mol-cart-item-infos {
    padding: 0 $grid-gutter-width / 3 0 $grid-gutter-width / 2;
  }
}

.mol-cart-item-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;

  @include lg {
    padding-top: 0;
  }
}

.mol-cart-section-title {
  display: flex;
  justify-content: space-between;
}

.atv-cart-section-title-action {

}

.atm-cart-title {
  color: $color-almostBlack;
  font-family: $font-family-open-sans;
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 2.5;
  text-transform: uppercase;
}

.atm-cart-action {
  align-items: center;
  background-color: transparent;
  border: transparent;
  color: $color-printi;
  display: inline-flex;
  font-family: $font-family-open-sans;
  font-size: $font-size-sm;
  justify-content: flex-start;
  text-transform: capitalize;
  > svg {
    fill: currentColor;
    height: 1.4rem;
    margin-right: 1rem;
    width: auto;
  }

  &--red {
    color: $color-red;
  }
}

.atm-input-text {
  @include border-radius;
  background-color: #f8f8f8;
  border: solid 1px #dbdddf;
  color: $color-almostBlack;
  font-family: $font-family-open-sans;
  font-size: $font-size-sm;
  height: 4rem;
  outline: none;
  padding: 0 0 0 1rem;
  width: 100%;

  &::placeholder {
    color: #c7c9cb;
  }
}

.mol-cart-item-section-data,
.mol-cart-item-delivery {
  align-items: flex-end;
  color: $color-almostBlack;
  display: inline-flex;
  font-size: $font-size-lg;
  font-weight: bold;
  justify-content: space-between;
  padding-top: $grid-gutter-width / 2;
  width: 100%;

  > * {
    line-height: 1;
  }

  .atm-cart-item-zipcode {
    font-size: $font-size-xs;
  }

  @include lg {
    align-items: flex-start;
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;

    .atm-cart-item-zipcode {
      padding-top: $grid-gutter-width / 6;
    }
  }
}

.org-cart-summary {
  @include border-radius;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;
  padding: 2.5rem;

  hr {
    border: transparent;
    border-bottom: 0.1rem solid #dbdddf;
    margin: 0 0 2rem 0;
    padding: 2rem 0 0;
  }

  .mol-cart-summary-title {
    display: inline-flex;
    font-family: $font-family-nunito-regular;
    font-size: 2.1rem;
    color: #151617;
    padding-bottom: 2rem;
  }

  .mol-cart-summary-off {
    background-color: #d0d0d0;
    color: #6a6f7a;
    font-family: $font-family-open-sans;
    font-size: $font-size-xs;

    > div {
      display: inline-flex;
      font-weight: bold;
      justify-content: space-between;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      width: 50%;

      > span {
        font-weight: normal;
      }

      &:last-child {
        color: #36c265;
      }
    }
  }
}

.mol-cart-summary-infos {
  color: #151617;
  display: flex;
  flex-direction: column;
  font-family: $font-family-open-sans;
  font-size: $font-size-xs;

  > div {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    > span {
      display: inline-flex;
    }
  }
}

.mol-cart-summary-total {
  display: flex;
  font-family: $font-family-open-sans;
  font-size: $font-size-xs;
  justify-content: space-between;

  > span {
    display: inline-flex;
  }
}

.atm-button-cart-voucher {
  background-color: transparent;
  border: transparent;
  color: #151617;
  display: flex;
  flex-direction: column;
  font-family: $font-family-open-sans;
  font-size: $font-size-xs;
  text-decoration: underline;
}

.atm-cart-totalItems {
  color: $color-lightGray;
  font-size: $font-size-xs;
  font-weight: bold;
}

.org-cart-footer {
  @include center-child-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;

  > .atm-cart-shopping {
    color: #6a6f7a;
    display: inline-flex;
    font-family: $font-family-open-sans;
    font-size: $font-size-sm;
    text-decoration: underline;
  }

  &--desktop {
    flex-direction: row;

    .atm-button-rounded {
      width: 30%;
    }

    .atm-cart-shopping {
      padding-right: 1rem;
    }

    > div {
      flex-grow: 2;
    }
  }

  &--mobile {
    > .atm-button-transparent {
      margin-top: 2rem;
    }
  }
}

.org-cart-items-desktop {
  width: 100%;

  > .mol-cart-items-header {
    @include border-radius;
    align-items: center;
    background-color: #f8f8f8;
    border: solid 1px #dbdddf;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    padding: 0 3rem;
    text-transform: uppercase;
    width: 100%;

    > span {
      color: #151617;
      display: inline-flex;
      flex: 2;
      font-family: $font-family-open-sans;
      font-size: $font-size-xs;
      font-weight: bold;
      letter-spacing: 0.12rem;

      &:first-child {
        flex: 5 ;
      }

      &:last-child {
        justify-content: flex-end;
        flex: 1;
      }
    }
  }

  .mol-cart-items-list {
    @include border-radius;
    background-color: $color-white;
    margin-top: 1rem;
    padding: 0 2rem;

    > .mol-cart-item-desktop {
      border-bottom: 0.1rem solid #dbdddf;
      padding: 3rem 1rem;

      &:last-child {
        border-bottom: transparent;
      }
    }
  }
}

.mol-cart-content {
  width: 74.5%;
}

.mol-cart-item-infos {
  color: $color-lightGray;
  display: inline-flex;
  flex-direction: column;
  font-family: $font-family-open-sans;
  font-size: $font-size-xs;
  line-height: 1.67;

  .atm-cart-item-product {
    color: $color-almostBlack;
  }
}

.mol-cart-item-product {
  align-items: flex-start;
  display: flex;

  @include lg {
    flex: 5;
  }
}

.mol-cart-item-desktop {
  display: flex;
}

.mol-cart-item-quantity {
  align-items: flex-start;
  color: $color-almostBlack;
  display: inline-flex;
  flex: 2;
  flex-direction: column;
  font-size: $font-size-lg;
  font-weight: bold;
  justify-content: flex-start;
}

.mol-cart-item-price {
  align-items: flex-end;
  color: $color-almostBlack;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  font-size: $font-size-lg;
  font-weight: bold;
  justify-content: space-between;
}

.org-cross-sell {
  margin-top: 2rem;
  .org-cart-cross-sell {
    display: flex;
    justify-content: space-between;
  }
  .mol-product-card {
    @include border-radius;
    background-color: $color-white;
    border: 0.1rem solid #dbdddf;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    padding: $grid-gutter-width / 3;
    position: relative;
    text-align: center;
    width: 18%;

    &:hover {
      box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
      transform: scale(1.05);

      .atm-card-button {
        display: flex;
      }
    }
  }

  .atm-card-title {
    color: #151617;
    font-family: $font-family-nunito-regular;
    font-size: 16px;
    letter-spacing: -0.3px;
    padding-top: $grid-gutter-width / 3;
  }

  .atm-card-text {
    color: #6a6f7a;
    font-family: $font-family-open-sans;
    font-size: $font-size-xs;
    line-height: 1;

    > span {
      font-size: 16px;
      color: #006ee3;
    }
  }

  .atm-card-button {
    @include border-radius;
    align-items: center;
    background-color: #36c265;
    box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
    color: #ffffff;
    display: none;
    font-size: 10px;
    font-weight: bold;
    height: 4rem;
    justify-content: center;
    left: 50%;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%);
    width: 70%;
  }

  a:hover {
    text-decoration: none;
  }
}

.mol-cart-item-image {
  display: inline-flex;
  flex-direction: column;
  height: 13rem;
  position: relative;
  width: 13rem;
}

.mol-cart-content {
  .app__modal__container {
    padding: 0;
  }
}

.org-up-sell {
  background: url('../../assets/media/images/header-upselling.png') no-repeat top center;
  padding: 14rem 2rem 2rem;
  max-width: 42rem;
  width: 100%;

  .mol-up-sell-header {
    color: #151617;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: $font-family-nunito-light;
    text-align: center;
    width: 100%;

    > span {
      color: #6a6f7a;
      font-size: 16px;
      line-height: 2rem;
    }
  }

  .mol-up-sell-content {
    padding-top: $grid-gutter-width / 2;
  }

  .atm-up-sell-content-title {
    @include border-radius;
    @include center-child-flex;
    border: 1px solid #dbdddf;
    background-color: #f8f8f8;
    color: $color-almostBlack;
    display: flex;
    font-family: $font-family-open-sans;
    font-size: $font-size-xs;
    font-weight: bold;
    height: 3rem;
    text-transform: uppercase;
  }

  .mol-up-sell-content-main {
    @include border-radius;
    @include center-child-flex;
    border: 1px solid #dbdddf;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .atm-up-sell-days {
    @include center-child-flex;
    color: $color-printi;
    font-family: $font-family-open-sans;
    display: inline-flex;
    font-size: 4rem;
    font-weight: bold;
    height: 5rem;

    > span {
      font-size: 16px;
      padding-left: 1rem;
    }
  }

  .atm-up-sell-delivery {
    color: $color-almostBlack;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: $font-family-open-sans;
    font-weight: bold;
    height: 5rem;

    > span {
      font-size: 12px;
      font-weight: normal;
    }
  }

  .atm-up-sell-checkbox {
    @include center-child-flex;
    border-top: 1px solid #dbdddf;
    color: #36c265;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 5rem;
    width: 100%;

    &--checked {
      background-color: $color-printi;
      color: $color-white;
    }

    > span {
      padding-left: 0.5rem;
    }
  }

  .mol-up-sell-footer {
    @include border-radius;
    align-items: center;
    border: 1px solid #dbdddf;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    height: 8rem;
    margin-top: 1rem;
    padding: 0 2rem;

    .atm-up-sell-prices {
      display: flex;
      flex-direction: column;

      span {
        display: flex;
        color: #151617;
        font-size: 14px;
        text-decoration: line-through;

        &.atm-up-sell-prices-after {
          color: #006ee3;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }
}

.atm-cart-see-more {
  background: transparent;
  border: transparent;
  color: #6a6f7a;
  font-family: $font-family-open-sans;
  font-weight: bold;
}

.mol-cart-item-desktop-infos {
  justify-content: space-between;
  display: inline-flex;
  flex-direction: column;
  padding: 0 0 0 ($grid-gutter-width / 3) * 2;

  > .mol-cart-item-actions {
    padding-top: 2rem;
  }
}

.org-cart-item-list {
  .app__modal__container {
    padding: 0;
  }
}

.org-cart-item {
  background-color: $color-white;
  border-radius: 0.3rem;
  box-shadow: 0 1rem 2rem 0 rgba(83, 117, 153, 0.3);
  margin-bottom: 3rem;

  .mol-cart-item-header {
    align-items: center;
    display: flex;
    height: 12rem;
    padding: 0 1.5rem;
    border-bottom: 0.1rem solid #dbdddf;
  }

  .mol-cart-item-body {
    background-color: #f8f8f8;
    border-bottom: 0.1rem solid #dbdddf;
    display: flex;
    flex-direction: column;
    font-size: $font-size-xs;
    height: 13rem;
    justify-content: space-around;
    padding: 0 1.5rem;

    > div {
      display: inline-flex;
    }
  }

  .mol-cart-item-infos {
    padding-left: 1.5rem;
    width: calc(100% - 6.5rem);
  }
}

.atm-cart-item-name {
  color: $color-almostBlack;
  font-size: $font-size-lg;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width: 100%;
}

.atm-cart-item-info-title {
  font-family: $font-family-open-sans;
  font-size: 12px;
  color: #151617;
  width: 8rem;
}

.atm-cart-item-info-text {
  color: #6a6f7a;
  display: inline-flex;
  font-family: $font-family-open-sans;
  font-size: 12px;
  width: calc(100% - 8rem);

  > span:last-child {
    padding: 0 1rem;
  }

  > span.atm-cart-price {
    padding: 0;
  }
}

.atm-cart-price {
  color: #006ee3;
  font-family: $font-family-open-sans;
  font-size: 18px;
  line-height: 1.11;

  &--large {
    font-size: $font-family-nunito-regular;
    font-size: 2.4rem;
  }
}

.mol-cart-item-footer {
  display: flex;
  height: 5rem;

  > div {
    display: flex;
    width: 100%;
  }

  .atm-cart-item-action {
    @include center-child-flex;
    background: transparent;
    border: transparent;
    border-right: 0.1rem solid #dbdddf;
    color: #6a6f7a;
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    text-transform: capitalize;
    font-size: 10px;
    font-family: $font-family-open-sans;

    > svg {
      fill: currentColor;
      height: 1.6rem;
      margin-bottom: 0.5rem;
      width: 1.6rem;
    }
    &:last-child {
      border-right: transparent;
    }
  }
}

.org-cart-stick-footer {
  align-items: center;
  background-color: #f8f8f8;
  border-top: 0.1rem solid #dbdddf;
  bottom: 0;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  left: 0;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  z-index: 3;

  > div {
    display: inline-flex;
    flex-direction: column;

    > span {
      display: inline-flex;

      &:first-child {
        color: #6a6f7a;
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
      }
    }
  }
}

.mol-cart-desktop-summary {
  align-items: center;
  background-color: $color-white;
  border-radius: 0.3rem;
  display: flex;
  height: 17rem;
  justify-content: space-between;
  padding: 3rem;

  > div {
    display: inline-flex;
  }

  .mol-cart-summary-infos {
    display: inline-flex;
    width: 20rem;
  }
}

.org-cart-voucher {
  align-items: center;
  background-color: $color-white;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;

  @include lg {
    margin-bottom: 0;
    max-width: calc(100% - 25rem);
    padding: inherit;
  }

  .mol-cart-voucher-title {
    align-self: flex-start;
    width: 100%;
  }
  .org-cart-ticket {
    @include center-child-flex;
    color: #eee;
    display: flex;
    height: 13rem;
    margin-top: 2rem;
    max-height: 13rem;
    max-width: 26rem;
    min-height: 13rem;
    min-width: 26rem;
    position: relative;
    width: 26rem;

    > svg {
      fill: currentColor;
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
    .mol-cart-voucher-ticket-body {
      display: flex;
      flex-direction: column;
      z-index: 1;
    }

    .atm-cart-voucher-ticket-text {
      @include center-child-flex;
      border-radius: 0.3rem;
      border: 0.1rem solid $color-white;
      color: #151617;
      display: flex;
      flex-direction: column;
      font-family: $font-family-open-sans;
      font-size: $font-size-xs;
      height: 6rem;
      margin-bottom: 1rem;
      width: 22rem;

      span:last-child {
        font-size: $font-size-xxs;
        color: #878b94;
      }
    }

    .mol-input-action input {
      background-color: $color-white;
    }
  }

  &--inactive {
    align-items: center;
    display: flex;
    flex-direction: row;

    svg {
      height: 2.4rem;
      width: 2.4rem;
    }

    .mol-cart-voucher-text {
      padding-left: 1.5rem;

      h2 {
        margin: 0;
        padding: 0;
      }

      span,
      a {
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        color: #878b94;
      }

      a {
        color: $color-printi;
        cursor: pointer;
      }
    }
  }
}
