.scroll-list-mobile {
  overflow-x: scroll;
  width: 100%;
}
.org-alphabet-list {
  background-color: $color-printi-blue;
  border-radius: 0.3rem;
  color: $color-white;
  display: inline-flex;
  font-family: $font-family-open-sans;
  font-size: $font-size-sm;
  justify-content: space-around;
  padding: 1.4rem 0;
  max-width: 99999px;
  width: 361%;
  @include lg {
    width: 100%;
  }
  li {
    a {
      color: $color-white;
    }
  }
}

.org-alphabet-list .disable-link{
  pointer-events: none;
  opacity: 0.4;
}
