.org-funnel-block {
  background-color: $color-white;
  margin-bottom: 2rem;

  .mol-funnel-block {
    &-header {
      background-color: #f8f8f8;
      display: flex;
      padding: 2rem;

      .atm-funnel-block-title {
        display: inline-flex;
        flex-direction: column;
        line-height: 1;
        margin-left: 1rem;
        width: 100%;
        font-family: $font-family-nunito-light;
        color: $color-almostBlack;
        font-size: $font-size-xl;

        @include lg {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    &-body {
      display: flex;
      padding: 1rem;
      @include lg {
        padding: 2rem 3rem;
      }
    }
  }
}
