.org-loyalty-topbar {
  height: 4rem;
  position: relative;
  z-index: 3;

  &.anm-grow-toggle {
    &-enter {
      height: 0 !important;
      transition: height 2000ms ease-in;

      &-active {
        height: 4rem !important;
      }
    }
  }

  .mol-loyalty-topbar {
    align-items: center;
    display: flex;
    height: 100%;
  }

  .atm-loyalty-text {
    color: $color-white;
    display: flex;
    flex: 2;
    font-size: $font-size-xxxs;
    font-weight: 700;
    line-height: 1;
    padding: 0 1.2rem;
    text-align: left;
  }

  .atm-icon-button {
    background-color: transparent;
    border: 0 transparent;
    color: rgba($color-almostBlack, 0.5);
    height: 1.6rem;
    width: 1.6rem;
  }
}

.mol-logo-loyalty {
  font-family: $font-family-open-sans-bold;
  line-height: 1;

  > span {
    color: $color-almostBlack;
    display: block;
    font-size: $font-size-xxs;
    line-height: 1;
    margin-bottom: 0.1rem;
    padding-left: 0.6rem;
  }

  > div {
    @include center-child-flex;
    border-radius: 1.6rem;
    font-size: $font-size-xxxs;
    height: 1.6rem;
    line-height: 1;
    padding: 0 0.6rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &--sm {
    transform: scale(0.9);
  }
}

.org-loyalty-container {
  @include center-child-flex;
  border-radius: $bsn-border-radius;
  color: $color-white;
  flex-direction: column;
  font-family: $font-family-open-sans;
  font-size: $font-size-base;
  font-weight: 700;
  height: auto;
  line-height: 1;
  margin-bottom: 1.5rem;
  padding: 2.4rem;
  width: 100%;

  @include lg {
    justify-content: flex-start;
    flex-direction: row;
    height: 5.6rem;
    padding: 0 2.4rem;
  }

  .mol-logo-loyalty {
    align-items: center;
    display: inline-flex;
    height: 2.4rem;
    margin: 0 0 1.6rem 0;

    @include lg {
      margin: 0 5.8rem 0 0;
    }

    > div {
      font-size: $font-size-sm;
      height: 100%;

      @include lg {
        font-size: $font-size-xs;
      }
    }
  }
}
