.org-loyalty-topbar {
  height: 4rem;
  position: relative;
  z-index: 3;

  .mol-loyalty-topbar {
    align-items: center;
    display: flex;
    height: 100%;
  }

  .atm-loyalty-text {
    color: $color-white;
    display: flex;
    flex: 2;
    font-size: $font-size-xxxs;
    font-weight: 700;
    line-height: 1;
    padding: 0 1.2rem;
    text-align: left;
  }

  .atm-icon-button {
    background-color: transparent;
    border: 0 transparent;
    color: rgba($color-almostBlack, 0.5);
    height: 1.6rem;
    width: 1.6rem;
  }
}

.mol-logo-loyalty {
  font-family: $font-family-open-sans-bold;
  line-height: 1;

  > span {
    color: $color-almostBlack;
    display: block;
    font-size: $font-size-xxs;
    line-height: 1;
    margin-bottom: 0.1rem;
    padding-left: 0.6rem;
  }

  > div {
    @include center-child-flex;
    border-radius: 1.6rem;
    font-size: $font-size-xxxs;
    height: 1.6rem;
    line-height: 1;
    padding: 0 0.6rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &--sm {
    transform: scale(0.9);
  }
}

.org-loyalty-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  .mol-loyalty-container {
    width: 100%;
    max-width: 750px;
    border-radius: 0.4rem;
    p {
      margin: 0;
    }
    div {
      color: $color-white;
      display: flex;
      font-family: $font-family-open-sans-bold;
      font-size: $font-size-xs;
      padding: 1rem;
      justify-content: left;
      flex-direction: row;
      @include lg {
        font-size: $font-size-base;
        padding: 1.6rem 2rem 1.6rem 2rem;
      }
      &.qrk-type-of-loyalty {
        background-color: $color-white;
        box-sizing: border-box;
        border-radius: 30px;
        font-size: $font-size-xs;
        margin-right: 2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 0rem 0.9rem;
        @include lg {
          font-size: $font-size-base;
        }
      }
    }
  }
}
