.org-loyalty-topbar {
  font-size: $font-size-xxxs;
  height: 40px;
  transition: height 0.3s ease-in-out;
  display: flex;
  align-items: center;
  &.hide-topbar {
    height: 0;
    overflow: hidden; 
  }
  .container-mobile {
    width:  100%;
    margin: 0 1rem;
  }
  .mol-loyalty-topbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
    div {
      align-items: center;
      color: $color-white;
      display: flex;
      font-family: $font-family-open-sans-bold;
      justify-content: center;
      &.qrk-type-of-loyalty {
        background-color: $color-white;
        box-sizing: border-box;
        border-radius: 30px;
        margin-right: 2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 0rem 0.7rem;
      }
    }
    a {
      svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: $color-white;
      }
    }
  }
}

.org-logo-loyalty {
  background-color: $color-white;
  box-sizing: border-box;
  color: $color-almostBlack;
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-xs;
  text-align: center;
  max-width: 7rem;
  p {
    margin-bottom: 0;
  }
  .mol-logo-loyalty {
    background-color: $color-deep-purple;
    border-radius: 30px;
    color: $color-white;
    padding: 0 1rem;
    text-transform: uppercase;
  }
}

.org-loyalty-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  .mol-loyalty-container {
    width: 100%;
    max-width: 750px; 
    border-radius: 0.4rem;
    p {
      margin: 0;
    }
    div {
      color: $color-white;
      display: flex;
      font-family: $font-family-open-sans-bold;
      font-size: $font-size-xs;
      padding: 1rem;
      justify-content: left;
      flex-direction: row;
      @include lg {
        font-size: $font-size-base;
        padding: 1.6rem 10rem 1.6rem 2rem;
      }
      &.qrk-type-of-loyalty {
        background-color: $color-white;
        box-sizing: border-box;
        border-radius: 30px;
        color: $color-deep-purple;
        font-size: $font-size-xs;
        margin-right: 2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 0rem 0.9rem;
        @include lg {
          font-size: $font-size-base;
        }
      }
    }
  }
}