.org-content-text {
  @include lg {
    padding: 0 14rem;
  }
  .title-texts {
    font-family: $font-family-nunito-light;
    font-size: $font-size-xxx;
    font-weight: 300;
    text-transform: none;
  }
  .p-text {
    color: $color-lightGray;
    font-family: $font-family-open-sans-light;
    font-size: $font-size-lg;
  }
}
