.org-content-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include lg {
    padding: 0 14rem;
  }
  .title-texts {
    font-family: $font-family-nunito-light;
    font-size: $font-size-h2;
    font-weight: 300;
    text-transform: none;
    @include lg {
      font-size: $font-size-xxx;
    }
  }
  .p-text {
    color: $color-lightGray;
    font-family: $font-family-open-sans-light;
    font-size: $font-size-sm;
    @include lg {
      font-size: $font-size-lg;
    }
  }
}
