@import "alphabet-list";
@import "content-text";

.template-glossary {
  .title-glossary {
    color: $color-almostBlack;
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-lg;
  }
  .subtitle-glossary {
    color: $color-lightGray;
    font-family: $font-family-open-sans-light;
    font-size: $font-size-base;
  }
}
