.atm-content-file {
  align-items: center;
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: $color-white;
  padding: 2rem;
  .title-content-file {
    font-family: $font-family-nunito-light;
    font-size: $font-size-xxx;
    font-weight: lighter;
    text-transform: none;
  }
  .p-text-content-file {
    color: $color-lightGray;
    font-family: $font-family-open-sans-light;
    font-size: $font-size-base;
  }
}
