@import "sidebar";
@import "content-text";

.template-file-mount {
  margin: 2rem 0;
  @include lg {
    margin-top: 0;
  }
  .title-file-mount {
    color: $color-almostBlack;
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-lg;
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include lg {
      margin-bottom: 0.4rem;
    }
  }
}

.org-content-file-mount {
  display: block;
  @include lg {
    margin-top: 2rem;
    display: flex;
  }

  .atm-content-file {
    h1 {
      line-height: 1.25;
      padding-bottom: 2rem;
    }

    ul {
      h1 {
        padding-top: 2rem;
      }

      li {
        font-size: $font-size-base;
        line-height: 1.875;
        padding: 1rem 0;

        > .align-center {
          padding: 1rem 0;
        }
      }
    }
  }
}
