.org-loyalty-topbar {
  background-color: #8261f8;
  padding: 0.6rem;
  .mol-loyalty-topbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
    div {
      align-items: center;
      color: $color-white;
      display: flex;
      font-family: $font-family-open-sans-bold;
      font-size: $font-size-xs;
      justify-content: center;
      &.qrk-type-of-loyalty {
        background-color: $color-white;
        box-sizing: border-box;
        border-radius: 30px;
        color: #8261f8;
        font-size: $font-size-sm;
        margin-right: 2rem;
        text-transform: uppercase;
        text-align: center;
        //width: 64px;
        padding: 0rem 0.9rem;
      }
      svg {
        width: 1rem;
        height: 1rem;
        fill: $color-white;
      }
    }
  }
}

.org-logo-loyalty {
  background-color: $color-white;
  box-sizing: border-box;
  color: $color-almostBlack;
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-sm;
  text-align: center;
  //width: 64px;
  padding-left: 1rem;
  p {
    margin-bottom: 0;
  }
  .mol-logo-loyalty {
    background-color: #8261f8;
    border-radius: 30px;
    color: $color-white;
    padding: 0 1rem;
    text-transform: uppercase;
  }
}

.org-loyalty-container {
  padding: 0.6rem;
  .mol-loyalty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }
    div {
      align-items: center;
      background-color: #8261f8;
      color: $color-white;
      display: flex;
      font-family: $font-family-open-sans-bold;
      font-size: $font-size-base;
      padding: 1.6rem 10rem 1.6rem 2rem;
      justify-content: center;
      &.qrk-type-of-loyalty {
        background-color: $color-white;
        box-sizing: border-box;
        border-radius: 30px;
        color: #8261f8;
        font-size: $font-size-base;
        margin-right: 2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 0rem 0.9rem;
      }
    }
  }
}