.org-loyalty-topbar {
  background-color: #8261f8;
  padding: 1rem;
  .mol-loyalty-topbar {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
    div {
      &.qrk-type-of-loyalty {
        background-color: $color-white;
        color: #8261f8;
        font-size: $font-size-il;
        padding: 1rem 2rem;
        border-radius: 50%;
        font-family: $font-family-open-sans-bold;
        text-transform: uppercase;
      }
    }
  }
}