@import 'block';
@import 'sources_block';
@import 'options_block';
@import "matrix/index";
@import "summary/index";
@import "options/index";
@import "pre-press-template";
@import "warning";

.app__config {
  padding-top: 2rem;
  position: relative;

  &__content{
    position: relative;
    > main {
      width: 100%;

      @include lg {
        width: 74.5%;
      }
    }

    .app__loading {
      padding-top: 2rem;
    }

    .app__config__warning {
      margin: $grid-gutter-width 0 0;
    }
  }
}
