// TODO: Padding on the blocks (same as the header)

.app__config__options {
  background-color: $color-white;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: $font-size-il;
    padding-left: 1rem;
  }

  &-parts {
    background-color: $color-printi;
    color: $white;
    margin: -2rem -3rem 0;
    padding: 1rem 1.5rem;
    text-align: center;
    width: calc(100% + 6rem);
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;

    @include lg {
      justify-content: flex-start;
    }

    h4 {
      display: inline-flex;
      font-family: $font-family-nunito-regular;
      font-size: $font-size-lg;
      font-weight: normal;
      margin-bottom: 0;
    }

    &__youtube {
      align-items: center;
      background-color: transparent;
      border: 0 transparent;
      color: $color-printi;
      display: inline-flex;
      font-family: $font-family-open-sans-regular;
      font-size: $font-size-xs;

      @include lg {
        margin-left: 2rem;
      }

      > svg {
        display: inline-flex;
        height: 1.8rem;
        margin-right: 0.5rem;
        width: 1.8rem;
      }
    }
  }

  &-listing {
    > h3 {
      position: relative;
      width: 100%;

      > .app__config__remove-button {
        color: #ea0000;
        font-size: $font-size-ix;
        position: absolute;
        right: 0;
        text-decoration: underline;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    > h3:not(:first-child){
      margin-top: 2rem;
    }
  }

  &-body {
    display: flex;
    flex-wrap: wrap;

    > li {
      position: relative;
      border-radius: 0.3rem;
      display: inline-flex;
      padding: 1.6rem 1rem 0;
      width: 50%;

      @include lg {
        width: 25%;
      }

      @include xl {
        width: 20%;
      }

      label {
        background-color: $color-white;
        border: 0.1rem solid #eeeeee;
        cursor: pointer;
        font-family: $font-family-nunito-regular;
        font-size: $font-size-xs;
        position: relative;
        width: 100%;

        img {
          width: 100%;
        }

        img ~ div {
          border-top: 0.1rem solid #eeeeee;
        }

        &:hover,
        &.app__config__option--selected {
          background-color: $color-printi;
          border-color: $color-printi;
          color: $color-white;

          img ~ div {
            border-color: $color-printi;
          }
        }
      }
    }
  }

  &--show-list {
    > li > ul > li {
      width: 100%;

      @include lg {
        width: 25%;
      }

      @include xl {
        width: 20%;
      }
    }
  }

  &-input {
    align-items: center;
    display: flex;
    height: 4.1rem;
  }

  .app__zoom__open {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom-left-radius: 100%;
    cursor: zoom-in;
    display: flex;
    height: 4.2rem;
    outline: none;
    position: absolute;
    right: 1.1rem;
    top: 1.7rem;
    width: 4.2rem;
    z-index: 1;

    svg {
      fill: $color-printi;
      height: 2.4rem;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 2.4rem;
    }
  }
}
