// TODO: Transitions to input reselect

.app__config__creation {
  display: flex;
  flex-direction: column;
  font-family: $font-family-open-sans-regular;
  padding: 2rem 1rem;

  @include lg {
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 3rem;
  }

  > div {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    @include lg {
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      padding: 0 0.5rem;
      width: 33%;

      &:first-child {
        padding-left: 0;
        padding-right: 1rem;
      }

      &:last-child {
        padding-left: 1rem;
        padding-right: 0;
      }

      > * {
        max-width: 250px;
      }
    }
  }

  &-label {
    background-color: $white;
    border: 0.1rem solid #dbdddf;
    border-radius: 3px;
    color: #151617;
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size-sm;
    height: 6rem;
    overflow: hidden;
    width: 100%;

    @include lg {
      flex-direction: column;
      height: 275px;
    }

    span {
      fill: $color-printi;
      padding: 0.2rem;
    }

    &:hover,
    &--selected {
      background-color: $color-printi;;
      border-color: $color-printi;
      color: $color-white;
    }
  }

  &-image {
    align-items: center;
    background-color: $white;
    border-right: 0.1rem solid #dbdddf;
    display: inline-flex;
    justify-content: center;
    width: 6.5rem;

    img {
      max-height: 80%;
    }

    @include lg {
      border-right: none;
      border-bottom: 0.1rem solid #dbdddf;
      height: 100%;
      width: 100%;
    }
  }

  &-input {
    align-items: center;
    display: inline-flex;
    height: 100%;

    @include lg {
      height: 5rem;
    }
  }

  &-radio {
    //background-color: #f8f8f8;
    border: 0.1rem solid #c1c1c1;
    border-radius: 1.2rem;
    height: 2.4rem;
    margin-left: 0.9rem;
    margin-right: 0.5rem;
    width: 2.4rem;
  }

  p {
    color: #878b94;
    font-size: $font-size-xs;
    line-height: 2rem;

    @include lg {
      padding: 0 0.5rem;
      text-align: justify;
    }
  }
}
