$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 3;

.tpl-printi-press {
  margin: 2rem 0;
  @include lg {
    margin: 0;
  }
  .title-printi-press {
    color: $color-almostBlack;
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-lg;
    text-transform: uppercase;
  }
  .org-printi-press {
    max-width: 100%;
    .mol-printi-press {
      color: $color-almostBlack;
      display: inline-block;
      flex-grow: 1;
      width: 100%;
      margin-top: 1.2rem;
      position: relative;
      transition: 0.3s linear;
      @include lg {
        width: calc(100% * (1/4) - 14px - 1px);
        margin: 2rem 0 0 2rem;
      }
      &:hover {
        box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
        transform: scale(1.05);
      }
      &:nth-of-type(4n-3) {
        margin-left: 0;
      }
      .atm-content-printi-press {
        border: 0.1rem solid $color-hrLightGray;
        border-radius: 0.3rem;
        background-color: $color-white;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        img {
          width: 100%;
        }
        .qrk-text-printi-press {
          padding: 0.8rem 2.2rem;
          max-width: 99.7%;
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          color: $color-white;
          @include lg {
            background-color: $color-white;
            color: $color-almostBlack;
            padding: 2rem 1rem;
            position: relative;
            max-width: 100%;
          }
          .title-content {
            font-size: $font-size-sm;
            font-weight: bold;
            position: relative;
            @include lg {
              font-size: $font-size-base;
            }
            &:after {
              content: "";
              display: inline-block;
              vertical-align: middle;
              margin-left: 10px;
              width: 0;
              height: 0;
              border-top: 0.6rem solid transparent;
              border-bottom: 0.6rem solid transparent;
              border-left: 0.6rem solid $color-white; 
              position: absolute;
              right: 0;
              bottom: 0.4rem;
              @include lg {
                border-left: 0.6rem solid $color-black;
              }
            }
          }
          .text-content {
            color: $color-lightGray;
            font-family: $font-family-open-sans-regular;
            font-size: $font-size-xs;
            font-weight: 400;
          }
        }
      }
    }
  }
  .org-container-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
}