.org-terms-use-privacy {
  margin-bottom: 4rem;
  .title-terms-use-privacy{
    color: $color-almostBlack;
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-lg;
    margin: 2rem 0;
    text-transform: uppercase;
    @include lg {
      margin-top: 0;
    }
  }
  .mol-bg-terms-use-privacy {
    background-color: $color-white;
    font-size: $font-size-sm;
    padding: 2rem;
    .atm-terms-use-privacy {
      margin: 3rem 0;
      .title-text-terms {
        font-family: $font-family-open-sans-semibold;
        font-size: $font-size-base;
        margin: 2rem 0;
        padding-bottom: 0;
      }
      .qrk-list-text-terms {
        li {
          margin: 1rem 0;
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}