.app__qrk {
  &__button {
    @include transition(all 0.2s ease);
    border-radius: 0.3rem;
    border: none;
    color: $color-white;
    font-family: $font-family-open-sans-bold;
    font-size: 1.2rem;
    font-weight: bold;
    height: 4rem;
    outline: none;
    text-transform: uppercase;
    &.success {
      @include button-background-color($color-green);
    }
    &.info {
      @include button-background-color($color-printi);
    }
  }
}
