.app__qrk__input-container {
  height: 4rem;
  position: relative;

  &--labeled {
    height: 5rem;
  }

  &.dirty.invalid {
    > input {
      @include box-shadows(0px, 0px, 3px, lighten($color-red, 10%));
      border-color: $color-red;
    }

    > .app__qrk__input-label {
      color: $color-red;
    }
  }

  &.dirty.valid {
    > input {
      @include box-shadows(0px, 0px, 3px, lighten($color-green, 15%));
      border-color: $color-green;
    }

    > .app__qrk__input-label {
      color: $color-green;
    }
  }

  > input {
    @include transition(all 0.2s ease);
    border-radius: 0.3rem;
    border: 0.1rem solid $color-hrLightGray;
    color: $color-dark;
    font-family: $font-family-open-sans-light;
    font-size: $font-size-xs;
    line-height: 1.67;
    padding-top: 1.6rem;
    height: 100%;
    margin-bottom: 1rem;
    outline-color: transparent;
    text-indent: 1.2rem;
    width: 100%;

    &:focus {
      @include box-shadows(0px, 0px, 3px, lighten($color-printi, 20%));
      border-color: lighten($color-printi, 20%);
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  > label {
    color: $color-dark;
    font-family: $font-family-open-sans-light;
    font-size: $font-size-sm;
    left: 1.2rem;
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
    top: 50%;
    transform: translateY(-50%) scale(1);
    transform-origin: 0;
    transition: all 0.1s ease;

    &.app__qrk__input-label--active {
      color: $color-printi-blue;
      opacity: 1;
      top: 0;
      transform: translateY(0.5rem) scale(0.85);
      transform-origin: 0;
    }
  }
}
