.available-upload-icon{
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: center;
  width: 6.5rem;
  span {
    color: $color-lightGray;
    font-family: $font-family-open-sans;
    font-size: 0.9rem;
    font-style: oblique;
    font-weight: 700;
    margin-top: 0.5rem;
    position: absolute;
  }
}

.available-upload-double-icon{
  display: flex;
  flex-direction: row;
}
