.upload__availableStrategies_container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  width: 100%;
  &-two {
    @include lg {
      width: 49%;
    }
  }
  &-three {
    @include lg {
      width: 32%;
    }
  }
  &-four {
    @include lg {
      width: 23%;
    }
  }
  &-five {
    @include lg {
      width: 18.4%;
    }
  }
  .upload__availableStrategy {
    &-label {
      background-color: $white;
      border-radius: 3px;
      border: 0.1rem solid #dbdddf;
      color: #151617;
      cursor: pointer;
      display: inline-flex;
      font-size: $font-size-sm;
      height: 6rem;
      overflow: hidden;
      width: 100%;
      span {
        fill: $color-printi;
        padding: 0.2rem;
      }
      &:hover,
      &--selected {
        background-color: $color-printi;
        border-color: $color-printi;
        color: $color-white;
      }
      @include lg {
        flex-direction: column;
        height: 160px;
        &:hover,
        &--selected {
          background-color: $white;
        }
      }
    }
    &-image {
      align-items: center;
      background-color: $white;
      border-right: 0.1rem solid #dbdddf;
      display: flex;
      display: inline-flex;
      justify-content: center;
      width: 6.5rem;
      svg {
        max-height: 60%;
      }
      .splitIcon {
        @include center-child-flex;
        display: inline-flex;
        position: relative;
        width: 44%;
        &-left {
          svg {
            align-self: flex-end;
            display: flex;
          }
        }
        &-right {
          svg {
            align-self: flex-start;
            display: flex;
          }
        }
        svg {
          transform: scale(-1, 1);
        }
        span {
          bottom: 1rem;
          display: inline-flex;
          font-size: 0.8rem;
          margin-right: 50%;
          position: absolute;
          right: 0;
          transform: translateX(50%);
        }
      }
      span {
        color: $color-lightGray;
        font-family: $font-family-open-sans;
        font-size: 0.9rem;
        font-style: bold;
        font-weight: 700;
        margin-top: 0.5rem;
        position: absolute;
      }
      @include lg {
        border-bottom: 0.1rem solid #dbdddf;
        border-right: none;
        height: 100%;
        margin: 0 auto;
        max-width: 175px;
        width: 100%;
        // svg {
        //   max-height: 50%;
        // }
        span {
          font-size: 1rem;
          margin-top: 2.1rem;
        }
        .splitIcon {
          width: 38%;
          span {
            font-size: 1rem;
          }
        }
      }
    }
    &-description {
      color: $color-gray;
      font-family: $font-family-open-sans-regular;
      font-size: 1.2rem;
      line-height: 2rem;
      margin: 1rem 0 0 0;
    }
  }
}
