.upload__canvas-schema__bottom-menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .dcl-action-btn--preview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 4rem;
    padding: 0;
    border: 0.1rem solid $color-printi;
    border-radius: 0.3rem;
    transition: 0.3s;
    background-color: transparent;
    color: $color-printi;
    &:hover {
      background-color: $color-sky-blue-light;
    }
    .dcl-action-btn__icon {
      fill: $color-printi;
      margin-right: 1rem;
    }
    .dcl-action-btn__description {
      color: $color-printi;
      font-family: $font-family-open-sans;
      font-weight: 700;
      font-size: 1.3rem;
    }
  }
  .bottom-menu-bar_btn {
    display: flex;
    width: 14rem;
    height: 4rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    justify-content: center;
    &-finish {
      border: none;
      color: $color-white;
      background-color: $color-green;
      font-family: $font-family-open-sans;
      font-weight: 700;
      font-size: 1.3rem;
      margin: 0 0 0 2rem;
      &:hover {
        background-color: $color-darkGreen;
      }
    }
  }
}
