.app__main{
  background-color: #eeeeee;
}

.bgProduct{
  box-sizing: border-box;
  padding: 0.1rem 0 0.1rem 0;
  background: $color-white;
  @include lg {
    padding: 1rem 0 1rem 0;
    height: 440px;
  }
}

.container-product{
  margin: 1.2rem 0;
  display: flex;
  flex-direction: column;
  @include lg {
    flex-direction: row;
    justify-content: flex-start;
  }
  .product-title{
    font-weight: 300;
    font-family: $font-family-nunito-light;
    font-size: $font-size-xxx;
    text-align: center;
    color: $color-almostBlack;
    line-height: 0.75;
    letter-spacing: -0.8px;
    @include lg{
      text-align: left;
    }
  }
  .product-subtitle{
    font-size: $font-size-lg;
    font-family: $font-family-nunito-regular;
    text-align: center;
    color: $color-almostBlack;
    padding-top: 0;
    @include lg{
      text-align: left;
    }
  }
  .product-category{
    color: $color-printi;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }  
  .box-product{
    flex: 1;
    .list-item {
      color: $color-lightGray;
      font-family: $font-family-open-sans;
      font-size: $font-size-xs;
      margin-top: 1.8rem;
      line-height: 1.67;
    }
    .product-price{
      flex: 12;
      margin: 0 auto;
      margin-top: 2.5rem;
      width: 220px;
      .p-fnt-price{
        color: $color-lightGray;
        float: left;
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        margin: 1.5rem 0 0 0;
        line-height: 1.25;
      }
      .fnt-price{
        font-size: $font-size-il;
        font-weight: bold;
        float:left;
        color: $color-printi;
        .fnt-unit{
          font-family: $font-family-open-sans;
          font-size: $font-size-xs;
          color: $color-lightGray;
          font-weight: normal;
        }
      }
      @include lg{
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        align-items: flex-start;
        display: flex;
        margin: inherit;
      }
    }
    .btn-default {
      font-size: $font-size-xxxs;
      font-weight: 600;
      line-height: 3;
      letter-spacing: 1px;
      &.btn-lg {
        padding: 0.5rem 2.5rem;
      }
    }
    .spec-product{
      font-family: $font-family-open-sans-regular;
      font-size: $font-size-xxxs;
      line-height: 1.2;
      text-align: center;
      margin-top: 1rem;
      display: block;
      color:$color-gray;
      @include lg{
        text-align: left;
      }
    }
    @include lg{
      &:nth-of-type(1n) {
        box-sizing: border-box;
        padding-right: 2rem;
      }
      &:nth-of-type(2n) {
        box-sizing: border-box;
        padding-left: 2rem;
        margin-top: 1.5rem;
        .list-item {
          .awol-list-style{
            margin-top: 3rem;
          }
        }
      }
      .carousel__slide {
        img {
          height: 350px;
        }
      }
    }
  }
}

.container-productInformation {
  display: flex;
  flex-direction: column;
  .box-productInformation {
    .carousel{
      width: 100%;
      overflow: hidden;
      position: relative;
      &__prev, &__next{
        svg{
          path{
            fill: black;
            fill-rule: evenodd;
            opacity: .3;
          }
        }
      }
      &__prev {
        left: -14px;
        top: 45%;
      }
      &__next {
        right: -14px;
        top: 47%;
      }
      .carousel__slide{
        div{
          position: inherit;
        }
        .card-productInformation{
          display: flex;
          flex-direction: column;
          margin: 0;
          background-color: #fff;
          box-sizing: border-box;
          padding: 0 0 2rem 0;
          position: relative;
          @include lg {
            height: 330px;
            padding: 2rem 4rem;
            flex-direction: row;
          }
        }
      }
      .carouselBullet {
        z-index: 999;
      }
      @include lg {
        height: 330px; 
      }
    }
    .productInformation-title {
      text-transform: uppercase;
      font-size: $font-size-h5;
      font-family: $font-family-open-sans-bold;
      letter-spacing: 0.1rem;
      margin-bottom: 1.8rem;
      width: 186px;
      line-height: 1.67;
      margin-top: 3.8rem;
      @include lg {
        font-size: $font-size-base;
      }
    }
    .list-item {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      color: $color-darkGray;
      text-transform: uppercase;
      li {
        &:last-of-type {
          margin-right: 0;
        }
        &:hover{
          color: $color-printi;
          border: 2px solid;
          transition: border 0.4s;
          button{
            color: $color-printi;
            text-transform: uppercase;
          }
        }
        button{
          background: none;
          border: none;
          text-transform: uppercase;
          color: $color-gray;
        }
      }  
    }
    .card-productInformation {
      display: flex;
      flex-direction: row;
      margin: 4.5rem 0;
      background-color: $color-white;
      box-sizing: border-box;
      padding: 4rem;
      .card-productInformation-image {
        flex: 1;
        box-sizing: border-box;
        padding-right: 0;
        img {
          height: 269px;
        }
        @include lg {
          padding-right: 2rem;
        }
      }
      .card-productInformation-text {
        flex: 3;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        box-sizing: border-box;
        padding: 0 1rem;
        .card-productInformation-title {
          font-family: $font-family-base;
          font-size: $font-size-h4;
          width: 100%;
          font-weight: 300;
          line-height: 1.43;
          margin-top: 2rem;
          color: $color-almostBlack;
          @include lg {
            margin-top: 0;
            //line-height: 0.83;
            font-size: $font-size-xxll;
          }
        }
        p {
          font-family: $font-family-open-sans-light;
          font-size: $font-size-sm;
          font-weight: 300;
          line-height: 1.88;
          color: $color-lightGray;
          @include lg {
            font-size: $font-size-h6;
          }
        }
        @include lg {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  } 
}

.container-tutorial{
  margin: 4.5rem 0;
  .tutorial-title{
    text-transform: uppercase;
    font-size: $font-size-h5;
    font-family: $font-family-open-sans-bold;
    letter-spacing: 0.1rem;
    margin-bottom: 1.8rem;
    @include lg {
      font-size: $font-size-base;
    }
  }
  .container-boxTutorial{
    display: flex;
    flex-direction: column;
    .box-tutorial{
      position: relative;
      flex: 2;
      .img-bigBox {    
        width: 100%;
        @include lg {
          height: 420px;
        }
      }
      &:last-of-type{
        flex:1;
        overflow: auto;
        @include lg {
          background-color: $color-white;
          height: 420px;
          box-sizing: border-box;
          padding: 1rem 2rem;
        }
      }
      .title-smallbox {
        font-family: $font-family-open-sans-bold;
        font-size: $font-size-sm;
        line-height: 2.14;
        letter-spacing: 1.4px;
        color: $color-almostBlack;
      }
      .p-smallbox {
        font-family: $font-family-open-sans;
        font-size: $font-size-h5;
        line-height: 1.33;
        text-align: left;
        color: $color-almostBlack;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
      .tutorial-legendImg {
        position: relative;
        color: $color-white;
        display: none;
        @include lg {
          position: absolute;
          bottom: 7%;
          left: 4%;
          display: block;
        }
        .tutorial-legendImg-category{
          font-size: $font-size-xxs;
          text-align: center;
          text-transform: uppercase;
          box-sizing: border-box;
          padding: 0.1rem 2rem;
          border-radius: 10px;
          border: 1px solid $color-white;
          font-family: $font-family-open-sans; 
        }
        .tutorial-legendImg-title{
          margin-top: 1rem;
          font-weight: 600;
          font-size: $font-size-il;
        }
      }
      .container-tutorialMobile {
        flex-direction: row;
        display: flex;
        align-items: flex-start;
        >div {
          flex: 1;
          &:first-of-type{
            border-radius: 3px;
          }
          &:last-of-type {
            box-sizing: border-box;
            padding-left: 1rem;
          }
        }
        @include lg {
          flex-direction: column;
        }
      }
    }
    @include lg{
      flex-direction: row;
    }
  }
}

.container-warranty {
  margin: 5.5rem 0 4.5rem 0;
  display: flex;
  flex-direction: column;
  background-color: $color-lightGreenWarranty;
  .box-image-warranty {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    img{
      position: relative; 
    }
    @include lg {
      position: relative;
      flex: 1;
      img{
        position: absolute;
        bottom: -12px;
      }
    }
  }
  .box-text-warranty{
    box-sizing: border-box;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .warranty-title{
      font-size: $font-size-h5;
      font-weight: bold;
    }
    .warranty-text{
      font-size: $font-size-sm;
      font-weight: 400;
      font-family: $font-family-open-sans;
    }
    @include lg{
      flex: 2;
    }
  }
  .box-btn-warranty{
    flex: 1;
    position: relative;
    margin-top: 2rem;
    >div{
      .btn-default{
        font-size: $font-size-xxxs;
        font-family: $font-family-open-sans-semibold;
      }
      @include lg{
        margin: 0 -50% 0 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    @include lg{
      margin-top: 0;
    }
  }
  @include lg{
    flex-direction: row;
    height: 120px;
  }
}

.container-benefits{
  margin: 4.5rem 0;
  position: relative;
  font-family: $font-family-open-sans;
  .benefits-title{
    text-transform: uppercase;
    font-size: $font-size-h5;
    font-family: $font-family-open-sans; 
  }
  .container-benefitsCard{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 1rem;
    margin-bottom: 4rem;
    .box-benefitsCard{
      flex: 1;
      .benefitsCard-title{
        box-sizing: border-box;
        padding: 1.95rem 2rem;
        text-transform: uppercase;
      }
      p{
        background-color: $color-white; 
        margin-bottom: 0;
        text-align: center;
        box-sizing: border-box;
        padding: 0.8rem 0rem;
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        color: $color-almostBlack;
        &:nth-of-type(2n-1) {
          background: #f9f9f9;
        }
        @include lg {
          font-size: $font-size-h6;
        }
        .checkIcon {
          svg {
            width: 22px;
            path {
              fill: $color-green;
            }
          }
          @include lg {
            svg {
              width: 16px;
            }
          }
        }  
        .closeIcon {
          svg {
            width:18px;
            path {
              fill: $color-red;
            }
          }
          @include lg {
            svg {
              width: 16px;
            }
          }
        }
      }
      &:nth-of-type(2n){
        //height: 496px;
        height: auto;
        box-shadow: 0px 3px 5px 6px $color-lightGray2;
        z-index: 9;
        min-width: inherit;
        max-width: 390px;
        .benefitsCard-title{
          width: 100%;
          text-align: center;
          padding: 1.9rem 2rem;
          svg{
            width: 150px;
            height: 69px;
          }
          @include lg {
            //width: 390px;
          }
        }
        p{
          color: $color-almostBlack;
          font-size: $font-size-xs;
          text-align: left;
          padding: 1.1rem 3rem;
          &:last-of-type {
            padding-bottom: 2.1rem;
            @include lg {
              padding: 1.1rem 3rem;
            }
          }
          @include lg {
            color: $color-lightGray;
            font-family: $font-family-open-sans-light;
            padding: 0.8rem 3rem;
            font-size: $font-size-h6;
          }
        }
        .checkIcon{
          margin-left: 0;
          margin-right: 1rem;
          float: left;
          @include lg {
            margin-right: 2rem;
          }
        }
        @include lg {
          //height: 505px;
          min-width: 390px;
        }
      }
      &:nth-of-type(2n-1){
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include lg {
          margin-top: 5rem;
        }
      }
      .benefitsCard-btn{
        display: flex;
        justify-content: center;
        padding: 1.6rem 0;
        background-color: $color-white;
        .btn-default {
          font-size: $font-size-xxxs;
          font-family: $font-family-open-sans-semibold;
        }
      }
    }
    @include lg{
      flex-direction: row;
      padding: 0 6.2rem;
      margin-bottom: inherit;
    }
  }
  sub{
    color: $color-darkGray;
    bottom: 0.75rem;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    @include lg {
      position: absolute;
      right: 8rem;
      bottom: 6rem;
      left: inherit;
      margin-bottom: 0;
    }
  }
}

.container-graphicPlant{
  margin: 4.5rem 0;
  .graphicPlant-title{
    text-transform: uppercase;
    font-size: $font-size-h5;
    font-family: $font-family-open-sans-bold; 
    letter-spacing: 0.1rem;
    @include lg {
      font-size: $font-size-h6;
    }
  }
  .container-graphicPlant-block{
    display: flex;
    flex-direction: column;
    .box-graphicPlant{
      flex: 1;
      @include lg {
        margin-right:4rem;
      }
      &:nth-of-type(2n){
        flex: 2;
        margin-right: inherit;
      }
      .graphicPlant-subtitle{
        margin: 2rem 0;
        font-size: $font-size-h4;
        font-family: $font-family-nunito-regular;
        line-height: 1.48;
        font-weight: lighter;
        color: $color-almostBlack;
      }
      .fnt-text{
        font-family: $font-family-open-sans-light; 
        font-size: $font-size-h6;
        // margin-bottom: 3rem;
        color: $color-lightGray;
        font-weight: 300;
        line-height: 1.88;
        margin-bottom: 0;
        @include lg {
          margin-bottom: inherit;
        }
      }
      .list-item{
        color: $color-lightGray;
        font-weight: 300;
        line-height: 1.88;
        font-family: $font-family-open-sans-light; 
        font-size: $font-size-h6;
      }
    }
    @include lg{
      flex-direction: row;
    }
  }
}

.container-customersRely {
  margin: 5rem 0;
  .customersRely-title {   
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-h5;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    @include lg {
      font-size: $font-size-base;
    }
  }
  .box-images-logo {
    box-sizing: border-box;
    border-radius: 6px;
    padding: 1.7rem 0;
    margin-bottom: 2rem;
    background-color: $color-white;
    @include lg {
      margin-bottom: 0;
      height: 120px;
      padding: 3.7rem 0;
    }
    img {
      width: 100%;
      height: 46px;
      display: block;
      margin: 0 auto;
    }
  }
  .container-commentsClients{
    display: flex;
    flex-direction: column;
    .box-commentClient{
      flex: 1;
      position: relative;
      margin-bottom: 9rem;
      .commentClient-text{
        box-sizing: border-box;
        padding: 3.2rem 2rem;
        color: $color-darkGray;
        background-color: $color-white;
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        line-height: 1.67;
      }
      .commentClient-img{
        bottom: -80px;
        position: absolute;
        width: 100%;
        img{
          display: block;
          margin: 0 auto;
        }
        .commentClient-name{
          font-weight: bold;
          text-align: center;
          margin-bottom: 0;
          color: $color-almostBlack;
          font-family: $font-family-open-sans;
          font-size: $font-size-h6;
          font-weight: 600;
          line-height: 0.75;
          margin: 1rem 0;
        }
        .commentClient-profession{
          text-align: center;
          font-family: $font-family-open-sans;
          font-size: $font-size-xs;
          line-height: 1;
          color: $color-almostBlack;
        }
      }
      @include lg{
        margin-right: 2rem;
        &:last-of-type{
          margin-right: inherit;
        }
      }
    }
    @include lg{
      flex-direction: row;
      margin-bottom: 0rem;
      margin-top: 2rem;
    }
  }
  @include lg {
    .carousel__slide {
      img {
        height: 370px;
      }
    }
  }
} 

.container-blog {
   margin: 4.5rem 0;
   .blog-title {
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-h5;
    letter-spacing: 0.1rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
    @include lg {
      font-size: $font-size-h5;
    }
   }
  .box-blogCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .blogCard {
      flex: 1;
      position: relative;
      color: $color-black;
      background-color: $color-white; 
      box-sizing: border-box;
      margin-right: 0;
      position: relative;

      &:last-of-type{
        margin-right: 0;
      }
      .titleCategory {
        position: absolute;
        color: $color-white;
        border-radius: 10px;
        border: 1px solid;
        left: 4%;
        top: 6%;
        box-sizing: border-box;
        padding: 0.1rem 2rem;
        font-size: $font-size-xxs;
      }
      img {
        width: 100%;
        height: 210px;

      }
      .blogCard-text {
        box-sizing: border-box;
        padding: 2rem;
        height: auto;
        .titlePost {
          margin-bottom: 1.1rem;
          font-family: $font-family-nunito-regular;
          font-size: $font-size-h5;
          font-weight: 400;
          //line-height: 2rem;
          //overflow: hidden;
          //-webkit-line-clamp: 2;
          //-webkit-box-orient: vertical;
          //width: 200px;
          //white-space: nowrap;
          //overflow: hidden;
          //display: inline-block;
          //text-overflow: ellipsis;
        }
        p {
          font-size: $font-size-xxs;
          font-family: $font-family-open-sans;
          color: $color-lightGray;
          font-weight: 300;
          //line-height: 2rem;
        }
        /*.container-truncate {
          display: flex;
          flex-basis: 300px;
          overflow: hidden;
          .truncate {
            display: block;
            height: 300px;
            background-color: red;
            flex-grow: 1;
            flex-shrink: 1;
            .titlePost {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }*/
      }
      .hourglassText {
        position: absolute;
        bottom: 1rem;
        display: table;
        span{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
      @include lg{
        margin-right: 2rem;
      }
    }
    @include lg{
      flex-direction: row;
    }
  }
}

.hourglassIcon {
  width: 12px;
  margin-right: 1rem;
}

.opinions-percentual-stars{
  display: flex;
  .opinions-star-number {
    font-family: $font-family-open-sans;
    font-size: $font-size-base;
    color: $color-almostBlack;
  }
}

.opinion-stars {
  display: inline-flex;
  padding:0;
  &-item {
    display: inline-flex;
    list-style: none;
    width: 18px;
    margin-right: 4px;
    svg{
      width: 100%;
      height: 100%;
      path{
        fill: $color-printi;
      }
    }
    svg path:first-child {
      fill: transparent;
    }
    &-filled svg path:first-child {
      fill:$color-printi;
    }
  }
}

.loader{
  width: 230px;
  height: 8px;
  border-radius: 4px;
  margin: 8px 6px;
  background-color: #d2d2d2; 
  .linePercentual{
    height: 8px;
    border-radius: 4px;
    background-color: $color-printi;
  }
  .star-0{
    width: 0%;
  }
  .star-10{
    width: 10%;
  }
  .star-20{
    width: 20%;
  }
  .star-30{
    width: 30%;
  }
  .star-40{
    width: 40%;
  }
  .star-50{
    width: 50%;
  }
  .star-60{
    width: 60%;
  }
  .star-70{
    width: 70%;
  }
  .star-80{
    width: 80%;
  }
  .star-90{
    width: 90%;
  }
  .star-100{
    width: 100%;
  }
}

.container-opinions{
  margin: 3rem 0;
  .opinions-title {   
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-h5;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    @include lg {
      font-size: $font-size-base;
    }
  }
  .opnions-subtitle{
    font-weight: 500;
    font-size: $font-size-h4;
    color: $color-almostBlack;
    font-family: $font-family-nunito-regular;
    @include lg {
      font-size: $font-size-xl;
    }
  }
  .container-boxOpinions{
    display: flex;
    flex-direction: column;
    overflow: auto;
    .box-opinions{
      flex: 1;
      &:first-of-type {
        border-bottom: 1px solid $color-hrLightGray;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }
      .box-opinionsMobile{
        display: flex;
        .opinionsMobile{
          flex: 1;
          &:last-of-type{
            flex: 4;
          }
          .title-opinionsMobile{
            font-size: $font-size-h1;
            font-weight: 500;
          }
          p{
            margin-bottom: 0;
            .opinion-stars{
              margin-bottom: 0; 
            }
          }
        }
      }
      .box-formOpinions{
        margin-top: 2rem;
        form{
          display: flex;
          .input-text{
            flex:7;
            border: none;
            box-sizing: border-box;
            padding: 0.6rem;
            font-family: $font-family-open-sans-light;
            font-size: $font-size-base;
          }
          .input-submit{
            flex: 1;
            &.btn-lg{
              font-size: $font-size-xs;
              padding: 1.25rem 1.25rem;
            }
          }
        }
        @include lg{
          margin-top: 0;
        }
      }
      .opinion-titleNumber{
        font-family: $font-family-open-sans;
        font-size: $font-size-base;
        color: $color-almostBlack;
        span{
          font-weight: 600;
          font-size: $font-size-xl;
        }
      }
      .opinion-textEvaluation {
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        color: $color-lightGray;
        .opinion-stars {
          margin-left: 0.4rem;
        }
      }
      .opinion-boxText{
        margin: 2rem 0 0rem 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-hrLightGray;
        .opinion-text {
          font-family: $font-family-open-sans-light;
          font-size: $font-size-base;
          color: $color-almostBlack;
        }
        .opinion-title{
          font-size: $font-size-base;
          font-family: $font-family-open-sans-bold;
        }
        sub{
          font-family: $font-family-open-sans;
          font-size: $font-size-xs;
          font-style: italic;
          color: $color-lightGray;
        }
        @include lg{
          margin: 2rem 0;
          padding-bottom: 0rem;
          border-bottom: 0px solid transparent;
        }
      }
      .container-boxOpinions{
        height: 384px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        margin-top: 2rem
      }
      @include lg{
        &:first-of-type{
          border-bottom: 1px solid transparent;
          margin-bottom: 0rem;
          padding-bottom: 0rem;
        }
        &:last-of-type {
          flex: 2;
          padding-left: 10rem;
          box-sizing: border-box;
        }
      }
    }
    @include lg{
      flex-direction: row;
    }
  }
}

.container-detailsProduct{
  margin: 4.5rem 0;
  .detailsProduct-title{
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-h5;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $color-almostBlack;
    @include lg {
      font-size: $font-size-base;
    }
  }
  .detailsProduct-subtitle{
    font-weight: lighter;
    font-size: $font-size-h4;
    font-family: $font-family-nunito-regular;
    @include lg {
      font-size: $font-size-xl;
    }
  }
  .box-detailsProduct{
    margin: 2.3rem 0;
    .fnt-text{
      font-family: $font-family-open-sans; 
      font-size: $font-size-base;
      font-weight: 400;
      color: $color-lightGray;
    }
  }
}

.container-printiProduct{
  box-sizing: border-box;
  padding: 4rem 2rem;
  background-color: #000;
  .printiProduct-title{
    text-align: center;
    color: $color-white;
    font-size: $font-size-h4;
    letter-spacing: -0.7px;
    font-weight: 500;
    @include lg {
      font-size: $font-size-xxl;
    }
  }
  .box-btn-printiProduct{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    .btn-default {
      font-family: $font-family-open-sans;
      font-size: $font-size-xxxs;
    }
  }
  .fnt-text{
    text-align: center;
    font-family: $font-family-open-sans;
    font-size: $font-size-h6;
    color: $color-hrLightGray;
  }
}

.list-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 1.2rem 0;
  li{
    width: 100%;
  }
  &.awol-pdd{
    padding: 0;
  }
  &.awol-list-style{
    list-style: none;
    font-size: $font-size-sm;
  }
}

.btn-default {
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-family: $font-family-open-sans-semibold;
  font-size: $font-size-xxxs;
  letter-spacing: 0.2rem;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  border:none;
  letter-spacing: 1px;
  &.btn-primary {
    background-color: $color-green; 
    &:hover{
      background-color: $color-darkGreen;
    }
  }
  &.btn-secondary {
    background-color: $color-printi-blue; 
    color: $color-white;
    &:hover {
      background-color: $color-darkBlue; 
    }
  }
  &.btn-third {
    color: $color-printi-blue; 
    border: 1px solid $color-printi-blue; 
    background-color: transparent; 
  }
  &.btn-quarter {
    color: $color-lightGray; 
    border: 1px solid $color-lightGray; 
    background-color: transparent; 
  }
  &.fnt-sbold {
    font-family: $font-family-open-sans-semibold;
  }
  &.fnt-bold {
    font-family: $font-family-open-sans-bold;
  }
  //sizes
  //239px
  &.btn-lg {
    box-sizing: border-box;
    padding: 1.25rem 2.5rem;
    font-size: $font-size-xs;
    @include lg {
      font-size: $font-size-sm;
    }
  }
  //200px
  &.btn-sm {
    box-sizing: border-box;
    padding: 1.1rem 2.922rem;
    font-size: $font-size-ix;
  }
  //160px
  &.btn-xs {
    box-sizing: border-box;
    padding: 1.1rem 0.93rem;
    font-size: $font-size-ix;
  }
  @include lg {
    width:auto;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.slider {
  margin-bottom: 4rem;
  .slider-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    .slider-images {
      width: 2400px;
      height: 400px;
      clear: both;
      position: relative;            
      transition: left 2s;
      li{
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
        list-style: none;
        margin-right: 2rem;
      }
    }
  }
}

.carousel{
  width: 100%;
  overflow: hidden;
  position: relative;
  button{
    fill: $color-white;
    fill-rule:evenodd;
    opacity:.3;
    &:hover{
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
  .carouselBullet{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    button{
      display: inline-block;
      margin: 0 5px;
      border: 0;
      border-radius: 100%;
      height: 10px;
      width: 10px;
      opacity: .5;
      cursor: pointer;
      font-size: 0;
      box-sizing: inherit;
      &:hover{
        opacity: 1;
        transition: all 0.3s ease;
      }
    }
  }
  .carousel__slide{
    img{
      width: 100%;
    }
  }
  
  &__prev, &__next{
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: white;
    width: 20px;
    height: 63px;
    text-align: center;
    line-height: 60px;
    top: 50%;
    margin-top: -30px;
    z-index: 9;
  }
  
  &__prev{
    left: 0;
    transform: rotate(180deg)
  }
  
  &__next{
    right: 0;
  }
  
  &__slide{
    width: 100%;
    height: 100%;
    
    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
}
