@import 'product-banner';
@import 'product-details';
@import 'product-highlights';
@import 'product-information';
@import 'product-opinions';
@import 'product-tutorials';
@import 'product-warranty';

.list-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 1.2rem 0;
  li{
    width: 100%;
  }
  &.awol-pdd{
    padding: 0;
  }
  &.awol-list-style{
    list-style: none;
    font-size: $font-size-sm;
  }
}

.btn-default {
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-family: $font-family-open-sans-semibold;
  font-size: $font-size-xxxs;
  letter-spacing: 0.2rem;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  border:none;
  letter-spacing: 1px;
  &.btn-primary {
    background-color: $color-green;
    &:hover{
      background-color: $color-darkGreen;
    }
  }
  &.btn-secondary {
    background-color: $color-printi-blue;
    color: $color-white;
    &:hover {
      background-color: $color-darkBlue;
    }
  }
  &.btn-third {
    color: $color-printi-blue;
    border: 1px solid $color-printi-blue;
    background-color: transparent;
  }
  &.btn-quarter {
    color: $color-lightGray;
    border: 1px solid $color-lightGray;
    background-color: transparent;
  }
  &.fnt-sbold {
    font-family: $font-family-open-sans-semibold;
  }
  &.fnt-bold {
    font-family: $font-family-open-sans-bold;
  }
  //sizes
  //239px
  &.btn-lg {
    box-sizing: border-box;
    padding: 1.25rem 2.5rem;
    font-size: $font-size-xs;
    @include lg {
      font-size: $font-size-sm;
    }
  }
  //200px
  &.btn-sm {
    box-sizing: border-box;
    padding: 1.1rem 2.922rem;
    font-size: $font-size-ix;
  }
  //160px
  &.btn-xs {
    box-sizing: border-box;
    padding: 1.1rem 0.93rem;
    font-size: $font-size-ix;
  }
  @include lg {
    width:auto;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
