.layout-contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .contact__form-subtitle {
    font-family: 'Nunito Light', serif;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 0 0 1vh;
  }

  .module-contact__form__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1vw;
  }

  .app__qrk__input-container,
  .atm-simple-select {
    margin-bottom: 1vw;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .app__qrk__button.success {
    align-self: flex-end;
    background: #2cac57;
    border: 0;
    border-radius: 0.4rem;
    color: #fff;
    font-family: 'Open Sans Bold', serif;
    font-size: 1.4rem;
    height: 3.4rem;
    margin-left: calc(50% + 2vw);
    margin-right: 1vw;
    text-transform: uppercase;
    width: 50%;
  }

  .is-half__form-line {
    margin-left: 1vw;
    margin-right: 1vw;
    width: calc(50% - 2vw);
  }

  .is-full__form-line {
    margin-left: 1vw;
    width: calc(100% - 2vw);
  }
}
