.tpl-help-center {
  .org-relationship-central {
    .mol-relationship-central {
      .atm-link-central {
        display: flex;
        // align-items: center;
        .qrk-link-central {
          flex: 1;
          display: flex;
          flex-direction: column;
          //align-items: center;
          .bsn-links-tel {
            display: flex;
            &:first-of-type {
              margin-right: 2rem;
            }
          }
          &:nth-of-type(2n) {
            margin: 0 2rem;
          }
          .bsn-icon-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            svg {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    }
  }
  .org-videos-printi {
    .mol-videos-printi {
      display: flex;
      .atm-video {
        flex: 1;
        &:first-of-type {
          flex: 2;
        }
      }
    }
  }
}