.org-component-banners {
  position: relative;

  .atm-banners-arrow {
    @include center-child-flex;
    background-color: transparent;
    border: 0 transparent;
    color: rgba(#6a6f7a, 0.3);
    cursor: pointer;
    display: flex;
    height: 100%;
    position: absolute;
    transition: 0.3s ease;
    top: 0;
    width: 6rem;

    > svg {
      fill: currentColor;
      height: auto;
      width: 2rem;
    }

    &:hover {
      color: rgba($color-white, 1);
    }

    &--prev {
      left: -6rem;
      > svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: -6rem;
    }
  }
}

.atm-banners-dots {
  display: flex!important;
  line-height: 0;
  height: auto;
  justify-content: center;
  margin: 1.6rem 0 0;
  padding: 0;
  position: relative;
  width: 100%;

  @include lg {
    bottom: 2rem;
    margin-top: 0;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: auto;
  }


  > li {
    display: inline-flex;
    line-height: 1;
    margin: 0 0.6rem;

    > button {
      background-color: rgba(#6a6f7a, 0.3);
      border: 0 transparent;
      border-radius: 0.4rem;
      color: transparent;
      line-height: 1;
      height: 0.8rem;
      opacity: 1;
      transition: 0.3s ease;
      width: 0.8rem;

      @include lg {
        background-color: rgba($color-white, 0.3);
      }
    }

    &.slick-active {
      > button {
        background-color: $color-printi;

        @include lg {
          background-color: $color-white;
        }
      }
    }
  }
}
