.atm-button-transparent {
  background-color: transparent;
  border: 0.1rem solid $color-printi;
  border-radius: 0.3rem;
  color: $color-printi;
  font-family: $font-family-open-sans;
  font-size: $font-size-xxxs;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 18rem;
}
