.tpl-loyalty-lp {
  .org-loyalty-lp {
    .title-loyalty, .subtitle-loyalty {
      text-align: center;
      font-family: $font-family-open-sans-regular;
    }
    .title-loyalty {
      font-size: $font-size-xl;
      text-transform: inherit;
      font-weight: 400;
      letter-spacing: normal;
      @include lg {
        font-size: $font-size-xxl;
      }
    }
    .subtitle-loyalty {
      font-size: $font-size-h6;
      color: $color-opacity-silver;
    }

    .mol-banner-member-loyalty{
      position: relative;
      .atm-banner-loyalty {
        position: relative;
        img {
          width: 100%;
          max-height: 672px;
        }
        .qrk-banner-text {
          position: absolute;
          top: 8%;
          left: 16%;
          max-width: 344px;
          svg {
            width: 167px;
          }
          .title-banner-text {
            color: $color-printi-blue;
            font-size: $font-size-xxll;
            font-family: $font-family-open-sans;
            margin: 2.4rem 0;
            line-height: 4.5rem;
          }
          .subtitle-banner-text {
            color: $color-dark;
            font-family: $font-family-open-sans-regular;
            font-size: $font-size-h6;
            font-weight: 400;
            margin-bottom: 2.4rem;
          }
        }
      }
      
      .atm-member-loyalty {
        background-color: $color-white;
        box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
        margin-top: -12.2rem;
        padding: 6rem 0;
        width: 100%;
        .qrk-be-member {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          max-width: 86%;
          margin: auto;
          margin-top: 6rem;
          .img-desc-be-member {
            .text-be-member {
              font-family: $font-family-open-sans-regular;
              height: 192px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .first-text-be-member {
                font-size: $font-size-il;
              }
              .second-text-be-member {
                color: $color-dark;
                font-size: $font-size-base;
              }
            }
            > div {
              margin: 5rem 0;
              max-width: 312px;
              &:nth-of-type(2n) {
                margin-bottom: 19rem;
              }
            }
          }
          .line-dashed {
            position: relative;
            border-left: 2px dashed $color-bluey-grey;
            width: 0.4rem;
            margin-top: 6rem;
            .icon-into-line {
              position: absolute;
              background: $color-white;
              padding: 1.4rem 0.8rem;              
              left: -2.7rem;
              border: 2px dashed $color-bluey-grey;
              border-radius: 2rem;
              width: 5.6rem;
              height: 5.6rem;
              span {
                border-radius: 3rem;
                color: $color-white;
                font-family: $font-family-open-sans-bold;
                font-size: $font-size-xxxs;
                text-transform: uppercase;
                padding: 0.1rem 0.5rem;
              }
              &:first-of-type {
                top: 10%;
                span {
                  background-color: $color-silver;
                }
              }
              &:nth-of-type(2n) {
                top: 50%;
                span {
                  background-color: $color-deep-purple;
                }
              }
              &:last-of-type {
                bottom: 0;
                left: -2.7rem;
                width: 5.6rem;
                height: 5.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }

            }
          }
        }
        .qrk-link-scroll-be-member {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 4rem;
          .first-text-scroll-be-member {
            font-family: $font-family-open-sans-regular;
            font-size: $font-size-il;
            font-weight: 400;
            letter-spacing: normal;
            text-transform: inherit;
          }
          .second-text-scroll-be-member {
            color: $color-opacity-silver;
            font-family: $font-family-open-sans-regular;
            font-size: $font-size-base;
          } 
          a {
            svg {
              fill: $color-printi-blue;
              width: 1.2rem;
              height: 7rem;
            }
          }
        }
      }

    }

    .mol-premium-members {
      display: flex;
      flex-direction: column;
      margin: 9rem 0px;
      .atm-type-premium {
        display: flex;
        margin-top: 4rem;
        .qrk-premium {
          width: calc((100%/4) - 3rem);
          //float: left;
          margin: 0 2rem;
          &:first-of-type {
            margin-left: 0;
          }
          &:nth-of-type(4n) {
            margin-right: 0;
          }
          &:first-of-type {
            background-color: rgba($color-deep-purple-light, 0.3);
          }
          &:nth-of-type(3n-1) {
            background: linear-gradient(117deg, rgba(213,217,222,0.3) 0%, rgba(163,174,191,0.3) 100%);
          }
          &:nth-of-type(3n) {
            background-color: rgba($color-maize-light, 0.8);
          }
          &:nth-of-type(4n) {
            background: linear-gradient(117deg, rgba(163,174,191,0.3) 0%, rgba(10,29,51, 0.3) 100%);
          } 
          .list-benefits-premium {
            font-size: $font-size-xs;
            font-family: $font-family-open-sans-regular;
            padding: 2.8rem;
            .logo-title-loyalty {
              display: flex;
              align-items: center;
              .logo-loyalty {
                @include center-child-flex;
                border-radius: 3rem;
                font-family: $font-family-open-sans-bold;
                line-height: 1;
                margin: auto;
                padding: 0.6rem 1.28em;
                .title-logo-loyalty {
                  color: $color-white;
                  font-size: $font-size-lg;
                  text-transform: uppercase;
                }
                &.bg-club {
                  background-color: $color-deep-purple;
                }
                &.bg-silver {
                  background: linear-gradient(117deg, #d5d9de 0%, #a3aebf 100%);
                }
                &.bg-gold {
                  background-color: $color-maize;
                }
                &.bg-black {
                  background: linear-gradient(117deg, #a3aebf 0%, #0a1d33 100%);
                }
              }
            }
            ul {
              display: flex;
              flex-direction: column;
              margin: 1rem 0;
              li {
                align-items: center;
                color: $color-opacity-silver;
                display: flex;
                justify-content: space-between;
                line-height: 2.2rem;
                .checkIcon {
                  svg {
                    width: 1.6rem;
                    height: 1.6rem;
                  }
                }
                .closeIcon {
                  svg {
                    width: 1.2rem;
                    height: 1.2rem;
                  }
                }
                &.li-active-color {
                  color: $color-dark;
                }
              }
              &.color-club{
                li {
                  .checkIcon {
                    svg {
                      fill: $color-deep-purple; 
                    }
                  }
                  .closeIcon {
                    svg {
                      fill: $color-deep-purple-light;
                    }
                  }
                }
              }
              &.color-silver {
                li {
                  .checkIcon {
                    svg {
                      fill: $color-bluey-grey; 
                    }
                  }
                  .closeIcon {
                    svg {
                      fill: $color-silver;
                    }
                  }
                }
              }
              &.color-gold {
                li {
                  .checkIcon {
                    svg {
                      fill: $color-maize;
                    }
                  }
                  .closeIcon {
                    svg {
                      fill: $color-maize-medium;
                    }
                  }
                }
              }
              &.color-black {
                li {
                  .checkIcon {
                    svg {
                      fill: $color-dark;
                    }
                  }
                }
              }
            }
          }
          .amount-money {
            background-color: $color-white;
            font-family: $font-family-open-sans-regular;
            font-size: $font-size-xs;
            padding: 2rem;
            .details-amount-money {
              color: $color-opacity-silver;
              margin-top: 1rem;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .mol-what-lost {
      display: flex;
      flex-direction: column;
      margin: 9rem 0;
      .qrk-what-lost {
        display: flex;
        margin-top: 4rem;
        flex-direction: column;
        @include lg {
          flex-direction: row;
        }
        .img-what-lost {
          width: 100%;
          @include lg {
            width: calc((100%/2) - 1.5rem);
            margin: 0 1.5rem;
          }
          &:first-of-type {
            margin-bottom: 1.5rem;
            margin-left: 0;
            @include lg {
              margin-bottom: 0;
            }
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    .mol-start-premium {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10rem 0;
      font-family: $font-family-open-sans-regular;
      .qrk-start-premium {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        @include lg {
          flex-direction: row;
        }
        .text-start-premium {
          text-align: center;
          p {
            margin-bottom: 0;
          }
          .first-text-start-premium {
            font-size: $font-size-xli;
            @include lg {
              font-size: $font-size-xxx;
            }
          }
          .second-text-start-premium {
            font-size: $font-size-sm;
            margin-bottom: 1.2rem;
            @include lg {
              font-size: $font-size-il;
              margin-bottom: 0;
            }
          }
        }
        &:last-child {
          .btn-default {
            padding: 1.25rem 6.5rem;
          }
        }
      }
    }

  }
}
