.container {
  .header-artproposal {
    .title {
      font-size: $font-size-lg;
      color: $color-almostBlack;
      font-family: $font-family-open-sans-bold;
    }
    .destitle {
      font-size: $font-size-base;
      color: $color-lightGray;
      font-family: $font-family-open-sans;
    }
    &.mobile-header-artproposal {
      margin: 3rem 0 1rem;
    }
  }
  .container-artproposal {
    @include lg {
      display: flex;
      flex-direction: row;
    }
    .atm-accordion-item-body {
      &.atm-accordion-sub-item-body {
        height: auto !important;
      }
      &.atm-accordion-sub-item-body-close {
        height: 0 !important;
      }
    }
    .container-sidebarproposal {
      //height: 100%;
      box-sizing: border-box;
      padding: 0rem 1rem 3rem 0rem;
      .menu-proposal {
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        li {
          width: 100%;
          height: 6rem;
          line-height: 6rem;
          font-family: $font-family-open-sans-bold;
          font-size: $font-size-xs;
          text-align: left;
          background-color: white;
          display: inline-flex;
          border-bottom: solid 1px $color-hrLightGray;
          a {
            color: $color-almostBlack;
            display: inline-flex;
            width: 100%;
            height: 100%;
            span {
              flex: 2;
              margin-left: 2.0rem;
              cursor: pointer;
            }
            &.is-active {
              color: $color-printi-blue;
              background-color: $color-lightBlue
            }
            &:hover {
              color: $color-printi-blue;
              background-color: $color-lightBlue;
            }
          }
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
    .container-proposal {
      padding: 0rem 0rem 3rem 1rem;
      .content-proposal {
        padding: 3rem;
        background-color: white;
        color: $color-almostBlack;
        font-family: $font-family-open-sans;
        .proposal-header {
          display: flex;
          justify-content: space-between;
          .title-proposal {
            font-size: $font-size-xxx;
            font-family: $font-family-open-sans;
          }
          .container-right {
            display: flex;
            .container-status {
              min-width: 100px;
              margin-left: 40px;
              .sidetitle {
                font-size: $font-size-xs;
                margin-bottom: 0.5rem;
                &.regular {
                    font-family: $font-family-open-sans-regular;
                }
              }
              .statuslabel {
                font-size: $font-size-xs;
                float: right;
                margin-left: 0.5rem;
                margin-bottom: 0.5rem;
              }
              svg {
                width: 1.1rem;
                height: 1.1rem;
                margin-bottom: 0.3rem;
              }
              .status-waiting_customer svg{
                fill: $color-warning;
              }
              .status-approved svg {
                fill: $color-green;
              }
              .status-disapproved svg{
                fill: $color-tomato-error-dark;
              }
            }
          }
        }
        .subtitle {
          font-size: $font-size-lg;
          padding: 3rem 0 0 0;
          font-family: $font-family-open-sans-bold;
        }
        .proposal-item {
          margin-top: 30px;
          &.customer-item {
            border-bottom: solid 1px $color-hrLightGray;
          }
          .item-header {
            display: flex;
            margin-bottom: 2rem;
            .avatar-wrapper {
              width: 40px;
              height: 40px;
              border-radius: 20px;
              background-color: white;
              border: solid 1px $color-lightGray3;
              image {
                  max-width: 100%;
                  max-height: 100%;
                  height: 100%;
                  object-fit: contain;
              }
            }
            .name-wrapper {
              font-size: $font-size-xs;
              padding: 2px 10px;
              .name {
                  margin-bottom: 0;
              }
              .position {
                  color: $color-printi;
              }
            }
          }
          .item-body {
            color: $color-lightGray;
            .proposal-text {
              font-size: $font-size-base;
            }
            .date {
              display: inline-block;
              background-color: $color-grayWhite;
              font-size: $font-size-xs;
              padding: 3px 10px;
              border-radius: 3px;
              margin: 1rem 0 2.5rem 0;
            }
            .box-docs-wrapper {
              width: 100%;
              height: 150px;
              position: relative;
              margin-bottom: 2rem;
              .box-docs {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0 -1rem;
                .atm-carousel-arrow--prev {
                  left: -1rem;
                }
                .atm-carousel-arrow--next {
                  right: -2rem;
                }
                .slider-docs {
                  left: 0;
                  margin: 0 -1rem 0 0;
                  .slider-doc-item {
                    position: relative;
                    width: 180px !important;
                    height: 150px !important;
                    border-radius: 2px;
                    margin-left: 1.0rem;
                    background-color: $color-almostWhite;
                    border: solid 1px $color-lightGray3;
                    &.selected {
                      border: solid 1px $color-printi-blue;
                    }
                    .doc {
                        position: absolute;
                        left: 30px;
                        top: 30px;
                        right: 30px;
                        bottom: 30px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 0.4rem;
                        display: block;
                        padding-bottom: 1px;
                        object-fit: cover;
                    }
                  }
                }
              }
            }
            .download-container{
              display: flex;
              background-color: $color-lightWarning;
              font-size: $font-size-xs;
              padding: 1.0rem;
              .button-wrapper {
                .atm-button-transparent {
                    margin-top: 0;
                }
                svg {
                    width: 18px;
                    height: 18px;
                }
              }
              .note {
                margin-left: 36px;
                align-self: center;
                color: $color-lightGray;
              }
            }
          }

        }
        .approval-button-wrapper {
          padding-bottom: 30px;
          border-bottom: solid 1px $color-hrLightGray;
          .atm-box-radio {
              margin-right: 2.0rem;
              width: 180px;
          }
        }
        .text-editor {
          margin: 3rem 0rem;
          border-top: solid 1px $color-lightGray3;
          .ButtonWrap__root___1EO_R {
            z-index: 6;
          }
        }
        .bottom-button-wrapper {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          .check-label {
            font-size: 1.2rem;
            line-height: 4rem;
            color: $color-lightGray;
          }
          .atm-button-transparent {
            margin-top: 0px;
          }
          .app__input__checkbox--checked {
            span {
              fill: $color-white;
              background: $color-printi-blue;
              border: 0.1rem solid $color-printi-blue;
            }
          }
        }
      }
    }
    &.mobile-container-proposal {
      margin-left: -15px;
      margin-right: -15px;
      .accordion-wrapper {
        margin-bottom: 6rem;
        .atm-header-menu-title {
          width: 100%;
          background-color: white;
          height: 6.0rem;
          font-family: $font-family-open-sans-bold;
          font-size: $font-size-xs;
          text-transform: uppercase;
          padding-left: 24px;
          border-bottom: solid 1px $color-hrLightGray;
          svg {
            position: absolute;
            right: 0;
          }
        }
      }
      .container-proposal {
        padding-left: 0;
      }
      .content-proposal {
        background-color: $color-grayWhite;
        padding: 2rem;
        .proposal-header {
          display: block;
          .title-proposal {
            display: none;
          }
          .container-right {
            border-bottom: solid 1px $color-hrLightGray;
            padding-bottom: 1rem;
            .container-status {
              margin-left: 0;
              flex: 1;
            }
          }
        }
        .subtitle {
          padding: 2rem 0 0rem 0;
        }
        .proposal-item {
          .item-header {
              margin-top: 1rem;
              .name-wrapper {
                display: flex;
                p {
                  line-height: 3.8rem;
                  padding-right: 0.5rem;
                  margin-bottom: 0;
                }
              }
            }
            .slick-arrow {
              display: none;
            }
            .slider-docs {
                margin: 0 -1rem 0 1rem !important;
                .atm-carousel-arrow {
                  display: none;
                }
            }
            .slider-doc-item:first-child {
                margin-left: 0 !important;
            }
            .item-body .download-container {
                display: block;
                button {
                    width: 100%
                }
                .note {
                    margin-left: 0;
                    padding-top: 1rem;
                }
            }
        }
        .approval-button-wrapper {
          .atm-box-radio {
            width: 100%;
          }
        }
        .EditorToolbar__root___3_Aqz {
          display: none;
        }
        .public-DraftEditor-content {
          min-height: 10rem;
        }
        .bottom-button-wrapper {
          display: block;
          button {
            width: 100%;
            margin-bottom: 3rem;
            text-transform: uppercase;
            &.atm-button-transparent {
              margin-top: 0;
              svg {
                width: 18px;
                height: 18px;
              }
            }
          }
          .check-label {
            line-height: 2rem;
              margin-bottom: 3rem;
          }
        }
      }
      .bg-briefing {
        background: $color-grayWhite;
      }
      .container .brief-header .atm-box-radio:hover .tooltip {
        display: none;
      }
    }
  }

  .briefing-container {

    .bg-briefing {
      background-color: $color-white;
      padding-bottom: 1rem;
    }
    .container-createBriefing, .container-reproduction {
      padding-top: 2rem;
    }
    .text-bold-briefing {
      font-family: $font-family-open-sans-regular;
      font-size: $font-size-sm;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    
    .text-italic-briefing {
      font-family: $font-family-open-sans-regular;
      font-size: $font-size-xs;
      font-style: italic;
      &.margin-b {
        margin-bottom: 3.5rem;
      }
    }
    .button-item-container {
      width: 100%;
      margin-bottom: 4rem;
      .text-bold-briefing, .text-italic-briefing {
        margin-bottom: 3rem;
      }
      &.no-margin {
        margin-bottom: 0;
      }
    }
    .org-checkout-content-data {
      .input-item-container {
        width: 100%;
        margin-bottom: 3rem;
      }
      .atm-checkout-input-one, .app__qrk__input-container {
        width: 100%;
        @include lg {
          width: calc(50% - 0.5rem);
        }
      }
      .atm-checkout-input-full {
        width: 100%;
        &.textArea-height {
          height: 15rem;
          .app__qrk__input-label {
            top: 32%;
            @include lg {
              top: 20%;
            }
            &--active {
              top: 5%;
            }
          }
        }
      }
    }
    .app__qrk__input-container {
      margin-top: 1rem;
    }
    .box-textsBriefing {
      margin: 0 0 4rem 0;
    }
  }
  .brief-header {
    position: relative;
    .separate-line {
      margin: 3rem -3rem 0;
      border-bottom: solid 1px $color-light-grey;
    }
    h3 {
      text-align: center;
    }
    .atm-box-radio {
      padding: 0.5rem 2rem;
      width: calc(50% - 0.5rem);
      font-size: $font-size-sm;
      &:first-of-type {
        margin-right: 0.5rem;
      }
      &:last-of-type {
        margin-left: 0.5rem;
      }
      .tooltip {
        position: absolute;
        top: 6rem;
        padding: 1.4rem 4.4rem;
        line-height: 2.0rem;
        text-align: center;
        font-size: $font-size-xs;
        background: $color-printi-blue;
        color: white;
        display: none;
        &.left {
          left: 25%;
          right: -75%;
        }
        &.right {
          right: 25%;
          left: -75%;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 100%;
          width: 0; height: 0;
          border-bottom: 8px solid #006EE3;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
        }
      }
      
      &:hover .tooltip {
        visibility: visible;
        opacity: 1;
        top: 6rem;
        z-index: 999;
        &.left {
          left: 25%;
          right: -75%;
        }
        &.right {
          right: 25%;
          left: -75%;
        }
        &.left:after {
          left: 15%;
        }
        &.right:after {
          right: 15%;
        }
      }

      &:hover .tooltip {
        display: block;
      }
    }

  }
  
}
