@import "../cimpressComponents/topMenuBar/index";
@import "../cimpressComponents/sideTextBar/index";
@import "../cimpressComponents/sideImageBar/index";
@import "../cimpressComponents/canvasToolBar/index";
@import "../cimpressComponents/canvasArea/index";
@import "../cimpressComponents/bottomMenuBar/index";

.upload-container-canvas-centralized {
  display        : flex;
  flex-direction : column;
  margin         : 0 0 2rem 0;
  width          : 100%;
  .upload__canvas-schema {
    margin-top     : 2rem;
    display        : flex;
    flex-direction : column;
    width          : 100%;
    .upload__canvas-schema_main-area-container {
      display        : flex;
      width          : 100%;
      flex-direction : row;
      .upload__canvas-schema_main-area-container_canvases {
        display : flex;
        width   : 100%;
      }
      .upload__canvas-schema_sidebar-container {
        display        : flex;
        width          : 27.5%;
        flex-direction : column;
        margin-top     : 1.5rem;
        min-height     : 50rem;
        border         : 1px solid #dbdddf;
        border-radius  : 3px;
      }
      .upload__canvas-schema_canvas-container {
        display        : flex;
        flex-direction : column;
        width          : 68%;
        margin         : 1.5rem 2.25% 0 2.25%;
        min-height     : 50rem;
      }
    }
  }
}
