.authentication {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  text-align      : center;
  margin          : 2rem auto 6rem;
  max-width       : 900rem;
  .title_between_blocks {
    display        : block;
    color          : $color-almostBlack;
    font-family    : $font-family-open-sans-bold;
    font-size      : $font-size-lg;
    letter-spacing : 0.2rem;
    line-height    : 1;
    margin         : 2rem 0;
    text-transform : uppercase;
  }
  &__terms_and_policy{
    border-top: 0.1rem solid #DBDCDE;
    margin: 1rem 2rem;
    padding-top: 1rem;
    color: #a1a2a4;
    font-size: 1.2rem;
    a {
      text-decoration: underline;
      color: #a1a2a4;
      font-size: 1.2rem;
    }
  }
  &__social {
    display          : flex;
    justify-content  : center;
    align-items      : center;
    background-color : $color-white;
    padding          : 1rem;
    h3 {
      padding      : 0;
      margin-right : 1rem;
    }
  }
  &__wrapper {
    display : inline-flex;
    width   : 100%;
  }
  &__block {
    text-align       : center;
    background-color : $color-white;
    padding          : 1rem 2rem;
    width            : 49%;
    .atm__block-title {
      padding : 0;
      margin  : 2rem 0;
    }
    &:first-child {
      margin-right : 2%;
    }
    &__title {
      > h3 {
        text-align : center;
      }
    }
    &__form {
      width          : 70%;
      margin         : 0;
      display        : inline-flex;
      flex-direction : column;
      .show-password-block {
        display         : flex;
        justify-content : flex-end;
      }
      &__footer {
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
        label, a {
          font-size : 1.2rem;
        }
        label {
          display         : flex;
          justify-content : center;
          align-items     : center;
          color           : #6a6f7a;

        }
        .app__input__checkbox span {
          margin-right : 1rem;
        }
      }
      > * {
        margin-top : 1rem;
      }
    }
  }

  /*for mobile*/
  @media(max-width : 1024px) {
    background-color : $color-white;
    .atm__block-title, hr {
      display : none;
    }
    .title_between_blocks {
      display         : flex;
      flex-direction  : row;
      align-items     : center;
      justify-content : center;
      width           : 100%;
    }
    .title_between_blocks:before {
      content       : '';
      width         : 30%;
      height        : 1px;
      margin-right  : 4rem;
      border-bottom : 0.1rem solid #EAECED;
    }
    .title_between_blocks:after {
      content       : '';
      width         : 30%;
      height        : 1px;
      margin-left   : 4rem;
      border-bottom : 0.1rem solid #EAECED;
    }
    &__social {
      flex-direction  : column;
      justify-content : flex-start;
      & span {
        width : 100%;
      }
    }
    &__wrapper {
      flex-direction : column;
    }
    &__block {
      width : 100%;
      &__form {
        width : 80%;
        &__footer {
          flex-direction  : column;
          justify-content : flex-start;
          > * {
            margin-top : 1rem;
          }
        }
      }
    }
  }
}
