.app__breadcrumb {
  color: $color-printi;
  font-family: $font-family-open-sans;
  font-size: $font-size-xs;
  letter-spacing: -0.2px;
  line-height: 1;
  padding: 2rem 0;

  span.separator {
    color: #878b94;
    padding: 0 0.5rem;
  }

  a {
    color: #878b94;
    text-decoration: underline;
  }
}
