.org-editor-cloud {
  margin-top: 2rem;
  @include lg {
    margin-top: 0;
  }
  .mol-title-link-editor-cloud {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    @include lg {
      width: auto;
    }
    .title-editor-cloud {
      font-family: $font-family-open-sans-bold;
      font-size: $font-size-lg;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .backLink-editor-cloud {
      margin-left: 2rem;
      svg {
        fill: $color-printi-blue;
        margin-right: 0.5rem;
        width: 1.2rem;
        transform: rotate(180deg);
      }
    }
  }
  .mol-content-editor-cloud {
    background-color: $color-bluey-grey;
    height: 400px;
    margin: 2rem 0;
  }
}
