.container-cloudTools {
  background-color: $color-white;
  padding: 1rem;
  @include lg {
    padding: 3rem;
  }
  .title-corporateSales {
    line-height: 3rem;    
  }
}

.subtitle-cloudTools {
  font-family: $font-family-nunito-light;
  font-size: $font-size-h2;
  @include lg {
    font-size: $font-size-xxx;
  }
}

.text-cloudTools {
  font-size: $font-family-open-sans-light;
  font-size: $font-size-base;
  line-height: 3rem;
}

.boxes-cloudTools {
  display: inline-flex;
  margin-top: 3rem;
  flex-direction: column;
  @include lg {
    margin-top: 5rem;
    flex-direction: row;
  }
  .box-cloudTools {
    flex: 1;
    margin-bottom: 2rem;
    &:first-of-type {
      @include lg {
        box-sizing: border-box;
        padding: 0 15rem 0 0;
      }
    }
    .link-aboutCloud {
      font-family: $font-family-open-sans-regular;
      font-size: $font-size-xs;
      margin-left: 0;
      text-align: center;
      text-decoration: underline;
      @include lg {
        margin-left: 3rem;
      }
    }
    .btns-cloud {
      align-items: center;
      display: flex;
      flex-direction: column;
      @include lg  {
        flex-direction: row;
      }
      button {
        font-size: $font-size-xxxs;
        @include lg {
          margin-right: 3rem;
        }
      }
      a {
        font-size: $font-size-xs;
        text-decoration: underline;
      }
    }
  }
}
