@import "main-benefits";
@import "cloud-tools";
@import "request-sample";

.title-corporateSales {
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-lg;
  text-transform: uppercase;
}

.banner-corporate-sales {
  position: relative;
  margin-bottom: 2rem;
  @include lg {
    margin: 4rem 0;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
    @include lg {
      padding-right: inherit;
      padding-left: inherit;
    }
  }
  .text-banner {
    display: none;
    position: absolute;
    top: 4.8rem;
    left: 6.4rem;
    color: $color-white;
    font-family: $font-family-nunito-light;
    @include lg {
      display: block;
    }
    .title-banner {
      color: $color-white;
      font-family: $font-family-nunito-light;
      font-size: $font-size-xxx;
    }
    .desc-list-banner {
      width: 65%;
    }
    .list-banner {
      padding: 0 2.2rem;
      margin-bottom: 4rem;
      li {
        list-style: disc;
        span {
          color: $color-warning;
        }
      }
    }
  }
}