@import "main-benefits";
@import "cloud-tools";
@import "request-sample";

.title-corporateSales {
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-lg;
  text-transform: uppercase;
}
