@import 'main-benefits';
@import 'cloud-tools';
@import 'request-sample';

.title-corporate-sales {
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-lg;
  text-transform: uppercase;
}

.banner-corporate-sales {
  margin: 2rem 0;
  position: relative;

  @include lg {
    margin: 4rem 0;
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    @include lg {
      padding-left: inherit;
      padding-right: inherit;
    }

    img {
      width: 100%;
    }
  }

  .text-banner {
    color: $color-white;
    display: none;
    font-family: $font-family-nunito-light;
    left: 6.4rem;
    position: absolute;
    top: 5.8rem;

    @include lg {
      display: block;
    }

    .title-banner {
      color: $color-white;
      font-family: $font-family-nunito-light;
      font-size: $font-size-xxx;
    }

    .desc-list-banner {
      width: 65%;
    }

    .list-banner {
      margin-bottom: 4rem;
      padding: 0 2.2rem;

      li {
        list-style: disc;

        span {
          color: $color-warning;
        }
      }
    }
  }
}
