.container-mainBenefits {
  // background-color: $color-white;
  padding: 1rem;
  @include lg {
    padding: 3rem;
  }
}

.boxes-ourBenefits {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: 2rem 0;
  flex-direction: column;
  @include lg {
    flex-direction: row;
  }
  .box-ourBenefits {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 360px;
    border: 0.1rem solid $color-lightGray2;
    border-radius: 0.3rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding: 2rem;
    @include lg {
      margin-right: 2rem;
    }
    &:last-of-type {
      margin-right: 0;
    }
    .title-ourBenefits {
      font-family: $font-family-nunito-regular;
      font-size: $font-size-il;
    }
    .text-ourBenefits {
      color: $color-lightGray;
      font-family: $font-family-open-sans-light;
      font-size: $font-size-base;
      line-height: 3rem;
      margin-bottom: 0;
      text-align: center;
    }
    svg {
      width: 58px;
    }
  }
}
