.container-main-benefits {
  padding: 1rem;

  @include lg {
    padding: 3rem;

    .container {
      padding: 0;
    }
  }
}

.boxes-our-benefits {
  box-sizing: border-box;
  padding: 2rem 0;

  .box-our-benefits {
    align-items: center;
    border: 0.1rem solid $color-lightGray2;
    border-radius: 0.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 2rem;

    @include lg {
      height: 30rem;
      max-width: inherit;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .title-our-benefits {
      font-family: $font-family-nunito-regular;
      font-size: $font-size-il;
    }

    .text-our-benefits {
      color: $color-lightGray;
      font-family: $font-family-open-sans-light;
      font-size: $font-size-base;
      line-height: 3rem;
      margin-bottom: 0;
      text-align: center;
    }

    svg {
      height: 5.8rem;
      width: 5.8rem;

      @include lg {
        height: inherit;
      }
    }
  }
}
