.upload__canvas-schema_sidebar-container {
  .side-bar__content {
    .side-bar__tabs__item-container {
      display : none;
      .side-image-bar__button-container, .add-text-button {
        display          : flex;
        width            : 100%;
        height           : 8rem;
        align-items      : center;
        justify-content  : center;
        background-color : $color-sky-blue-light;
        .dcl-upload-button, .dcl-add-text {
          display         : flex;
          width           : 100%;
          height          : 8rem;
          align-items     : center;
          justify-content : center;
          .side-bar-add-image-button, .dcl-button {
            display          : flex;
            flex-direction   : row;
            align-items      : center;
            justify-content  : center;
            height           : 4rem;
            padding          : 0 0.5rem;
            margin           : 0 1rem;
            background-color : $color-printi;
            border           : none;
            border-radius    : 3px;
            transition       : 0.3s;
            svg {
              width        : 1.5rem;
              height       : 1.5rem;
              margin-right : 0.5rem;
              fill         : $color-white;
            }
            &:hover {
              background-color : $color-darkBlue;
            }
            span {
              display        : flex;
              color          : $color-white;
              font-family    : $font-family-open-sans-bold;
              font-weight    : 700;
              font-size      : 1rem;
              text-transform : uppercase;
            }
          }
        }
      }
      .dcl-widget-upload-list, .side-bar__text-container {
        display    : flex;
        width      : 100%;
        margin-top : 3rem;
        .dcl-thumb-list {
          .dcl-thumb__actions__link--delete {
            width  : 3rem;
            height : 3rem;
            .dcl-thumb__actions__icon {
              border : none;
            }
            &:hover {
              transform : none;
            }
          }
          .dcl-thumb__pdf {
            border : 0.1rem solid #e1e6eb;
            .dcl-pdf-thumb__image {
              .dcl-pdf-thumb__actions-icon {
                .dcl-pdf-thumb__actions--hover {
                  display : none;
                }
              }
              .dcl-thumb__actions__link--delete {
                top   : 2%;
                right : 2%;
                .dcl-thumb__actions__icon {
                  border : none;
                  .dcl-icon__use {
                  }
                }
              }
              .dcl-thumb__multipage-icon {
                display : none;
                .dcl-icon__use {
                  fill   : $color-sky-blue-light;
                  stroke : $color-printi;
                }
              }
              &:hover {
                &:after {
                  content    : '';
                  opacity    : 0.35;
                  z-index    : 1;
                  background : $color-pastel-blue;
                }
              }
            }
          }
          .dcl-thumb {
            border : 1px solid #e1e6eb;
            &:hover {
              &:after {
                content    : '';
                opacity    : 0.35;
                z-index    : 1;
                background : $color-pastel-blue;
              }
            }
            .dcl-thumb__active-indicator {
              padding : 6%;
              .dcl-thumb__actions__icon {
                padding : 15%;
                border  : none;
                .dcl-icon__use {
                  fill : $color-printi;
                }
              }
            }
          }
        }
      }
    }
    .active {
      display : block;
    }
  }
}
