$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

$header-height: 8rem;
$topbar-height: 2rem;
$footer-height: 5.1rem;

$brand-secondary: #cd0423;

$font-family-base: 'R Light', 'Open Sans Light', Helvetica, Arial, sans-serif;

$font-family-nunito-regular: 'Nunito Regular', Helvetica, Arial, sans-serif;
$font-family-nunito-light: 'Nunito Light', Helvetica, Arial, sans-serif;

$font-family-open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-open-sans-regular: 'Open Sans Regular', Helvetica, Arial, sans-serif;
$font-family-open-sans-light: 'Open Sans Light', Helvetica, Arial, sans-serif;
$font-family-open-sans-bold: 'Open Sans Bold', Helvetica, Arial, sans-serif;
$font-family-open-sans-semibold: 'Open Sans SemiBold', Helvetica, Arial, sans-serif;

$color-black: #000;
$color-white: #fff;
$color-printi: #006ee3;
