$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

$header-height: 8rem;
// $header-height: 3rem;
$topbar-height: 2.8rem;
$n-topbar-height: 2.5rem;
$footer-height: 5.1rem;

$header-height-mobile: 10rem;
$desktop-height-mobile: 9.7rem;

$loyalty-height: 4rem;

$brand-secondary: #cd0423;

$font-family-nunito-regular: 'Nunito Regular', Helvetica, Arial, sans-serif;
$font-family-nunito-light: 'Nunito Light', Helvetica, Arial, sans-serif;

$font-family-open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-open-sans-regular: 'Open Sans Regular', Helvetica, Arial, sans-serif;
$font-family-open-sans-light: 'Open Sans Light', Helvetica, Arial, sans-serif;
$font-family-open-sans-bold: 'Open Sans Bold', Helvetica, Arial, sans-serif;
$font-family-open-sans-semibold: 'Open Sans SemiBold', Helvetica, Arial, sans-serif;

$font-family-base: $font-family-open-sans;

$color-black: #000;
$color-white: #fff;
$color-grayWhite: #f8f8f8;
$color-white: #fff;
$color-almostBlack: #151617;
$color-printi: #006ee3;
$color-darkBlue: #0056b1;
$color-bluishPurple: #420fe2;
$color-lightBlue: #eef3f9;
$color-green: #36c265;
$color-Lightgreen: #41ce75;
$color-darkGreen: #2cac57;
$color-fluorescentGreen: #00dd6b;
$color-lightGreenWarranty: #cce8ce;
$color-yellow: #f4dd1d;
$color-darkYellow: #e6d11e;
$color-gray: #878b94;
$color-darkGray: #6b6d7a;
$color-lightGray: #6a6f7a;
$color-lightGray2: #ccc;
$color-lightGray3: #cbced2;
$color-hrLightGray: #dbdddf;
$color-almostWhite: #eee;
$color-red: #fc636b;

/* Social colors */
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-linkedin: #0077b5;
$color-google: #d34836;
$color-instagram: #ed4956;

/* new colors */
$color-printi-blue: #006ee3;
$color-print-blue-light: #e0f1ff;
$color-sky-blue: #66b0ff;
$color-sky-blue-light: #e1effc;
$color-deep-purple: #8261f8;
$color-deep-purple-medium: #DBAFFC;
$color-deep-purple-light: #EBD3FD;
$color-barbie-pink: #ff57a4;
$color-green: #2fd463;
$color-success: #24d48d;
$color-aqua-marine: #2decad;
$color-dark: #242b33;
$color-gunmetal: #525c66;
$color-bluey-grey: #a3aebf;
$color-silver: #d7d8db;
$color-pale-grey: #ebedf0;
$color-light-grey: #f7f8fa;
$color-white: #fff;
$color-error: #e67150;
$color-melon: #ff815e;
$color-warning: #d6b047;
$color-lightWarning: #f6f5e3;
$color-maize: #f0c654;
$color-maize-medium: #F8F3C1;
$color-maize-light: #FBF9DD;
$color-opacity-silver: #898c90;
$color-opacity-maize: #eee5ce;
$color-tomato-error-dark: #ea4335;
$color-tomato-error-light: #efd2d0;
$color-pastel-red-light: #fee0e1;
$color-pastel-blue: #9bcaf5;
$color-pastel-tomato: #fdc7c9;
$color-green-light: #36c265;

// Bosons // TODO: Move that later
$bsn-border-radius: 0.4rem;
