$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

// $header-height: 8rem;
$header-height: 3rem;
$topbar-height: 2rem;
$footer-height: 5.1rem;

$brand-secondary: #cd0423;

$font-family-base: 'R Light', 'Open Sans Light', Helvetica, Arial, sans-serif;

$font-family-nunito-regular: 'Nunito Regular', Helvetica, Arial, sans-serif;
$font-family-nunito-light: 'Nunito Light', Helvetica, Arial, sans-serif;

$font-family-open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-open-sans-regular: 'Open Sans Regular', Helvetica, Arial, sans-serif;
$font-family-open-sans-light: 'Open Sans Light', Helvetica, Arial, sans-serif;
$font-family-open-sans-bold: 'Open Sans Bold', Helvetica, Arial, sans-serif;
$font-family-open-sans-semibold: 'Open Sans SemiBold', Helvetica, Arial, sans-serif;

$color-black: #000;
$color-white: #fff;
$color-black: #000;
$color-almostBlack: #151617;
$color-printi: #006ee3;
$color-darkBlue: #0056b1;
$color-green: #36c265;
$color-Lightgreen: #41ce75;
$color-darkGreen: #2cac57;
$color-gray: #878b94;
$color-darkGray: #6b6d7a;
$color-lightGray: #6a6f7a;
$color-lightGray2: #ccc;
$color-hrLightGray: #dbdddf;
$color-red: #fc636b;
/* Social colors */
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-linkedin: #0077B5;
$color-google: #d34836;
$color-instagram: #ed4956;