.org-categories-carousel {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  position: relative;

  &.container {
    padding: 0 2rem;

    @include lg {
      padding: 0 1.5rem;
    }
  }

  .mol-tabs-header {
    margin-bottom: 0;
  }

  .atm-tab-active {
    display: block;
    flex-wrap: wrap;
    position: relative;
    margin-top: 2rem;

    @include lg {
      margin: 0 -2rem;
      width: calc(100% + 4rem);
    }

    .anm-fade-toggle-exit,
    .anm-fade-toggle-enter {
      transition-delay: 0.3s;
    }

    .anm-fade-toggle-exit-active {
      position: absolute;
    }

    .mol-product-card {
      display: inline-flex;
      width: 100%;

      @include lg {
        width: 20%;
      }
    }
  }

  .slick-list {
    overflow: visible;

    @include lg {
      overflow: hidden;
    }
  }


  @include lg {
    .slick-slide {
      padding: 1rem;
      transform: scale(1);
    }
  }

  .atm-carousel-arrow--prev {
    left: -4rem;
  }

  .atm-carousel-arrow--next {
    right: -4rem;
  }

  @include im-only {
    .mol-tabs-header {
      margin: 0 -2.8rem;
    }
  }
}
