.atm-sidebar-tutorial {
  flex: 1;
  margin-bottom: 2rem;
  @include lg {
    padding-right: 2rem;
  }
  .qrk-search-tutorial {
    font-family: $font-family-open-sans-light;
    margin-bottom: 1rem;
    input {
      background: transparent;
      border: 1px solid $color-hrLightGray;
      border-right: transparent;
      color: $color-lightGray;
      padding: 1.5rem;
    } 
    button {
      background: transparent;
      border: 1px solid $color-hrLightGray;
      border-left: transparent;
      padding: 1.5rem;
      svg {
        fill: $color-lightGray;
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
  .qrk-list-sidebar {
    li {
      color: $color-lightGray;
      background-color: $color-white;
      border-radius: 0.3rem;
      font-size: $font-size-base;
      font-weight: 600;
      margin-bottom: 1rem;        
      transition: 0.3s ease-in-out;
      a {
        color: $color-lightGray;
        display: flex;
        padding: 1.5rem;
      }
      &.active-li {
        background-color: $color-print-blue-light;
        box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
        a {
          color: $color-printi-blue;
        }
      }
      &:hover {
        background-color: $color-print-blue-light;
        box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(83, 117, 153, 0.5);
        a {
          color: $color-printi-blue;
        }
      }
    }
  }
}