.warning-message {
  background-color: #F4DD1D;
  width: 100%;
  padding: 2px;
  border-radius: 3px;
  color: #6A6F7a;
  display: flex;
  margin-top: 5px;
  .warning-icon {
    background-color: #E6D422;
    padding: 6px 1px;
  }
  svg {
    width: 28px;
    height: 26px;
    vertical-align: middle;
  }
  span {
    margin: 0px 5px;
    font-size: 13px;
    b {
      color: #151617;
    }
  }
  @include is-only {
    display: none;
  }
}