.cmp-carousel {
  height: auto;
  position: relative;
  padding: 0 2.5rem;
  width: auto;

  &__slide {
    display: block;
    overflow: visible;
    width: 100%;

    > * {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.org-carousel {
  position: relative;
}

.atm-carousel-arrow {
  @include center-child-flex;
  background-color: transparent;
  border: 0 transparent;
  color: rgba(#6a6f7a, 0.3);
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  transition: 0.3s ease;
  top: 0;
  width: 6rem;
  z-index: 1;

  > svg {
    fill: currentColor;
    height: auto;
    width: 2rem;
  }

  &:hover {
    color: rgba($color-printi-blue, 1);
  }

  &--prev {
    left: -6rem;
    > svg {
      transform: rotate(180deg);
    }
  }

  &--next {
    right: -6rem;
  }
}

.atm-carousel-dots {
  bottom: -2.4rem;
  display: flex!important;
  line-height: 0;
  height: auto;
  justify-content: center;
  margin: 1.6rem 0 0;
  position: absolute;
  width: 100%;

  > li {
    display: inline-flex;
    line-height: 1;
    margin: 0 0.6rem;

    > button {
      background-color: rgba(#6a6f7a, 0.3);
      border: 0 transparent;
      border-radius: 0.4rem;
      color: transparent;
      line-height: 1;
      height: 0.8rem;
      opacity: 1;
      transition: 0.3s ease;
      width: 0.8rem;
    }

    &.slick-active {
      > button {
        background-color: $color-printi;
      }
    }
  }
}
