.app__more-infos {
  align-items: center;
  color: $color-printi;
  cursor: help;
  display: flex;
  font-family: $font-family-open-sans;
  font-size: $font-size-xs;
  position: relative;

  span {
    fill: $color-printi;
    height: $font-size-xxs;
    margin-right: 0.3rem;
    width: $font-size-xxs;

    svg {
      vertical-align: top;
    }
  }
}
