h3 {
  color: #28292e;
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-lg;
  letter-spacing: 0.18rem;
  line-height: 1;
  margin: 0;
  padding: 0 0 2.5rem 0;
  text-transform: uppercase;

  @include lg {
    padding-bottom: 2rem;
  }
}
