.cart-item-definitions-container {
  width            : 27rem;
  margin           : 0 0 auto 0;
  background-color : #ffffff;
  box-shadow       : 0 0 10px rgba(0, 0, 0, 0.5);
  .options, .sub-total, .additional-options, .total {
    padding : 1rem 2rem;
  }
  h4 {
    padding : 2rem;
  }
  hr {
    margin : 0 1rem;
  }
}
