.container-creditCard {
  padding: 4rem 0 3rem 0;
  @include lg {
    background-color: $color-white;
    box-sizing: border-box;
    flex: 5;
    padding: 2rem 6rem;
  }
  .container {
    width: auto;
  }
  .title-creditCard {
    color: $color-almostBlack;
    font-family: $font-family-open-sans-bold;
    font-size: $font-size-lg;
  }
  .subtitle-creditCard {
    font-family: $font-family-nunito-light;
    font-size: $font-size-h4;
    font-weight: 300;
    line-height: 1.11;
    text-align: left;
    color: $color-almostBlack;
    text-transform: none;
    margin: 1.4rem 0 2rem 0;
    padding-bottom: 0;
    @include lg {
      font-size: $font-size-xl;
      margin-top: 2.4rem;
    }
  }
  .container-card {
    display: block;
    .card-saved {
      width: 100%;
      display: inline-flex;
      margin-bottom: 2rem;
      @include lg {
        width: 50%;
      }
      .card-save-info {
        align-items: center;
        background-color: $color-white;
        border-radius: 0.3rem;
        display: flex;
        font-size: $font-size-ix;
        padding: 1rem;
        width: 100%;
        @include lg {
          background-color: $body-bg;
          &:nth-of-type(2n-1) {
            margin-right: 2rem;
          }
        }
        div {
          flex: 1;
          &:first-of-type {
            max-width: 7rem;
            img {
              height: 3.5rem;
              width: 70%;
            }
            @include lg {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          p {
            margin-bottom: 0;
          }
          &.number-card {
            font-weight: bold;
            @include lg {
              text-align: center
            }
          }
          &.card-valid {
            text-align: center;
            max-width: 7rem;
            &.invalid { 
              color: $color-tomato-error-dark;
            }
          }
          &.qrk-trash-icon {
            width: 2rem;
            height: 2rem;
            fill: $color-tomato-error-dark;
            max-width: 2rem;
          }
          img {
            height: 66px;
          }
        }
      }
    }
    .rccs {
      @include lg {
        margin-left: 0; 
      }
    }
    .atm-checkout-input-full {
      width: 100%;
    }
  }
}
