@import "cloud";
@import "loyalty";
@import "creditCard";
@import "changepayment";
@import "briefing";
@import "mydata";
@import "referral";

.title-myaccount {
  font-family: $font-family-open-sans-bold;
  font-size: $font-size-lg;
  font-weight: 700;
  letter-spacing: 0.18rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.container-myaccount {
  @include lg {
    display: flex;
    flex-direction: row;
  }
  .container-sidebarAccount {
    flex: 1;
    //height: 100%;
    box-sizing: border-box;
    padding: 3rem 1.8rem 3rem 9rem;
    border-right: 1px solid $color-lightGray2;
    .box-client {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 40px;
        width: 80px;
        height: 80px;
      }
      .client-name {
        font-family: $font-family-nunito-regular;
        font-size: $font-size-lg;
        line-height: 1.11;
        text-align: center;
        color: $color-almostBlack;
        margin: 2.6rem 0 2.5rem 0;
      }
    }
    .menuAccount {
      margin-top: 2.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      li {
        line-height: 4.7rem;
        font-family: $font-family-open-sans;
        font-size: $font-size-base;
        text-align: left;
        color: $color-lightGray;
        margin-bottom: 1.2rem;
        display: inline-flex;
        a {
          color: $color-lightGray;
          display: inline-flex;
          span {
            flex: 2;
            margin-left: 1.0rem;
          }
          .cloudIcon {
            width: 17%;
          }
          .printClubIcon {
            width: 82%;
          }
          .referralIcon {
            width: 14%;
          }
          &.is-active {
            color: $color-printi-blue;
            svg {
              fill: $color-printi-blue;
            }
          }
        }
        &:last-of-type {
          margin-top: 5rem;
        }
      }
    }
  }

  .container-myorder {
    @include lg {
      background-color: $color-white;
      flex: 5;
      box-sizing: border-box;
      padding: 2rem 6rem 3rem 6rem;
    }
    .container {
      width: auto;
    }
    .app__breadcrumb {
      margin-bottom: 2.4rem;
    }
    .title-myorder {
      padding: 2rem 0 0.5rem 0;      
    }
    .subtitle-myorder {
      font-family: $font-family-nunito-light;
      font-size: $font-size-h4;
      font-weight: 300;
      line-height: 1.11;
      text-align: left;
      color: $color-almostBlack;
      text-transform: none;
      margin-top: 1.4rem;
      padding-bottom: 0;
      @include lg {
        font-size: $font-size-xl;
        margin-top: 2.4rem;
      }
    }
    .legend-myorder {
      font-family: $font-family-open-sans-light;
      font-size: $font-size-h6;
      font-weight: 300;
      line-height: 1.25;
      text-align: left;
      color: $color-lightGray;
    }
    .box-tableOrder {
      display: flex;
      font-family: $font-family-open-sans-bold;
      flex-direction: row;
      background-color: #f8f8f8;
      border: 1px solid $color-hrLightGray;
      box-sizing: border-box;
      padding: 1rem 1.9rem;
      border-radius: 0.03rem;
      li {
        font-size: $font-size-xs;
        font-weight: bold;
        line-height: 2.5;
        color: $color-almostBlack;
        text-transform: uppercase;
        flex: 1;
        &:nth-of-type(3n) {
          flex: 2;
        }
        &:last-of-type {
          flex: 2;
        }
      }
    }
    .box-detailsOrder {
      transition: box-shadow .3s;
      border: 1px solid $color-hrLightGray;
      box-sizing: border-box;
      border-radius: 3px;
      margin-bottom: 1rem;
      background-color: $color-white; 
      @include lg {
        padding: 1rem 1.4rem;
        border: 1px solid $color-hrLightGray;
      }
      &.delivered, &.pendingPayment, &.inTransport {
        .flagOrder p{
          &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
            border-radius: 7.5px;
          }
        }
      } 
      &.delivered {
        border-top: 10px solid $color-green;
        @include lg {
          border-top: 1px solid $color-hrLightGray;
          border-left: 5px solid $color-green;
        }
        .flagOrder p{
          &:before {
            background-color: $color-green
          }
        }
        .box-statusMobile {
          i {
            svg {
              fill: $color-Lightgreen;
            }
          }
          .subtitle-statusMobile {
            color: $color-Lightgreen;
          }
        }
      }
      &.pendingPayment {
        border-top: 10px solid $color-melon;
        @include lg {
          border-top: 1px solid $color-hrLightGray;
          border-left: 5px solid $color-melon;
        }
        .flagOrder p{
          &:before {
            background-color: $color-melon
          }
        }
        .box-statusMobile {
          i {
            svg {
              fill: $color-melon;
            }
          }
          .subtitle-statusMobile {
            color: $color-melon;
          }
        }
      }
      &.inTransport {
        border-top: 10px solid $color-maize;
        @include lg {
          border-top: 1px solid $color-hrLightGray;
          border-left: 5px solid $color-maize;
        }
        .flagOrder p{
          &:before {
            background-color: $color-maize;
          }
        }
        .subtitle-statusMobile {
          color: $color-maize;
        }
      }
      .box-firstPart {
        display: flex;
        flex-direction: column;
        padding: 1rem 1.4rem 2rem 1.4rem;
        @include lg {
          padding: 1.2rem 1.4rem;          
          align-items: center;
          flex-direction: row;
        }
        div {
          flex: 1;
          font-family: $font-family-open-sans;
          font-size: $font-size-base;
          line-height: 1.25;
          text-align: left;
          color: $color-almostBlack;
          p {
            margin-bottom: 0;
          }
          &:nth-of-type(3n) {
            flex: 2;
          }
          &:last-of-type {
            flex: 2;
            align-items: center;
          }
          .title-myorderMobile {
            font-size: 12px;
            line-height: 1.67;
          }
          .subtitle-myorderMobile {
            font-family: $font-family-open-sans-bold;
            font-size: $font-size-h5;
            font-weight: bold;
            line-height: 1.11;
            letter-spacing: 1.8px;
            text-align: left;
            color: $color-almostBlack;
          }
        }
        .box-icons {
          display: flex;
          .icons {
            flex: 1;
            &.align-text {
              text-align: right;
              font-size: $font-size-xs;
            }
            .btn-icons {
              border: 1px solid $color-printi-blue;
              box-sizing: border-box;
              padding: 0.5rem 0rem;
              border-radius: 2px;
              margin-right: 1rem;
              float: left;
              width: 57px;
              height: 30px;
              svg {
                //width: 25px;
                //height: 20px;
                fill: $color-printi-blue;
              }
            }
          }
        }
      }
      .detach {
        height: 1px;
        border-bottom: .1rem dashed #eee;
        width: 100%;
        display: block;
        position: relative;
        &:before, &:after {
          content: "";
          position: absolute;
          display: block;
          width: .9em;
          height: .9em;
          background: #eee;
          border-radius: 50%;
          top: -0.7rem;
        }
        &:before {
          left: -4px;
        }
        &:after {
          right: -4px;
        }
      }
      .box-secondPart {
        display: flex;
        flex-direction: column;
        padding: 1rem 1.4rem 3rem;
        @include lg {
          padding: 1rem 1.4rem 0;
          margin-top: 1rem;
          flex-direction: row;
          border-top: 1px solid $color-hrLightGray;
        }
        >div {
          flex: 1;
          &.box-images {
            img {
              margin: 0 0.5rem;
              &:first-of-type {
                margin-left: 0;
              }
              &:last-of-type {
                margin-right: 0;
              }
            }
          }
          .title-secondPart {
            font-family: $font-family-open-sans;
            font-size: 12px;
            line-height: 1.67;
            text-align: left;
            color: $color-almostBlack;
            font-size: $font-size-xs;
            margin-bottom: 0;
            @include lg {
              color: $color-lightGray;
            }
          }
          .txt-secondPart {
            font-size: $font-size-h5;
            line-height: 1.11;
            color: $color-almostBlack;
            @include lg {
              font-size: $font-size-base;
              line-height: 1.25;
            }
          }
        }
        .box-statusMobile {
          font-family: $font-family-open-sans;
          .title-statusMobile {
            font-size: $font-size-xs;
            line-height: 1.67;
            color: $color-almostBlack;
            margin-bottom: 0;
          }
          .subtitle-statusMobile {
            font-size: $font-size-h5;
            line-height: 1.11;
          }
        }
        .btn-default {
          text-align: left;
          margin-bottom: 1rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          @include lg {
            text-align: inherit;
          }
          i {
            flex: 1;
            svg {
              width: 2rem;
              height: inherit;
              fill: $color-lightGray;
            }
          }
          span {
            flex: 6;
          }
          &:last-of-type {
            margin-top: 1.1rem;
            font-size: $font-size-xs;
            line-height: 1.67;
            text-align: center;
            color: $color-white;
            margin-bottom: 0;
          .txt-secondPart {
            font-size: $font-size-base;
            line-height: 1.25;
            color: $color-almostBlack;
          }
        }
        .box-secondPart-mobile {
          display: flex;
          align-items: center;
          margin-bottom: 1.2rem;
          >div {
            &:first-of-type{
              flex: 1;
              margin-right: 2rem;
            }
            &:last-of-type {
              flex: 8;
            }
            svg {
              //height: inherit;
              //width: inherit;
            }
          }
        }
      }
      &:hover {
        @include lg {
          box-shadow: 0px 3px 5px 6px $color-lightGray2;
        }
      }
    }
    .btn-third {
      color: $color-lightGray;
      border-color: $color-lightGray;
      margin-top: 4.6rem;
      margin-bottom: 4.6rem;
    }
  }
}

// details about the order
.container-myaccountdetails {
  margin: 2.8rem 0 3rem 0;
  @include lg {
    background-color: $color-white;
    flex: 5;
    box-sizing: border-box;
    padding: 2rem 6rem 0 6rem;
    margin: 0;
  }
  .btns-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg {
      justify-content: flex-end;
      flex-direction: row;
    }
    .btn-default {
      flex: 1;
      font-size: $font-size-xxxs;
      display: flex;
      align-items: center;
      height: 30px;
      max-width: 200px;
      border: 1px solid $color-lightGray;
      color: $color-lightGray;
      i {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        svg {
          width: inherit;
          height: inherit;
          fill: $color-lightGray;
          @include lg {
            fill: $color-printi-blue;
          }
        }
      }
      &:first-of-type {
        margin-bottom: 1rem;
      }
      @include lg {
        border: 1px solid $color-printi-blue;
        color: $color-printi-blue;
        &:first-of-type {
          margin-right: 2rem;
          margin-bottom: 0;
        }
      }
    }
  }
  .box-headerDetails {
    display: flex;
    flex-direction: row;
    >div {
      align-items: center;
      flex: 1;
      .subtitle-details {
        font-family: $font-family-nunito-light;
        font-size: $font-size-h4;
        padding: 0; 
        text-transform: inherit;
        font-weight: 300;
        line-height: 1.11;
        color: $color-almostBlack;
        @include lg {
          font-size: $font-size-xl;
          padding: inherit;
        }
      }
      .total-value {
        font-family: $font-family-open-sans-light;
        font-size: $font-size-base;
        font-weight: 300;
        line-height: 1.25;
        color: $color-lightGray;
        span {
          font-family: $font-family-open-sans-bold;
          font-weight: bold;
        }
      }
    }
    &.headerDetails--mobile {
      >div {
        margin-top: 4rem;
        &:first-of-type {
          flex: 4;
        }
        &:last-of-type {
          font-family: $font-family-open-sans;
          font-size: $font-size-xs;
          i {
            display: inline-flex;
            margin-right: 8px;
            transform: rotate(180deg);
            svg {
              width: 5px;
              float: left;
              height: 10px;
              fill: $color-printi-blue;
            }
          } 
        }
      }
    }
  }
  .box-warningDetails {
    display: flex;
    align-items: center;
    flex-direction: row;   
    border-radius: 3px; 
    background-color: $color-yellow;
    font-family: $font-family-open-sans;
    font-size: $font-size-xs;
    line-height: 1.25;
    color: $color-lightGray;
    height: auto;
    margin-bottom: 1.9rem;
    @include lg {
      height: 62px;
    }
    >div {
      flex: 1;
      justify-content: center;
      display: flex;
      span {
        font-weight: bold;
      }
      &:first-of-type {
        display: flex;
        justify-content: center;
        padding: 2.8rem 0.6rem;
        background-color: $color-darkYellow;
        border-radius: 3px;
        @include lg {
          padding: 1.8rem 0rem;
        }
        i {
          //display: block;
          //margin: 0 auto;
          //float: none;
          //width: 30px;
          svg {
            width: inherit;
            height: inherit;
            
          }
        }
      }
      &:nth-of-type(2n) {
        box-sizing: border-box;
        flex: 6;
        padding: .5rem;
        line-height: 1.5;
        p {
          margin-bottom: 0;
          font-size: $font-size-xxxs;
          @include lg {
            font-size: $font-size-xs;
          }
        }
        @include lg {
          flex: 18;
        }
      }
      &:last-of-type {
        i {
          svg {
            width: 12px;
            height: 12px;
            path {
              fill: $color-lightGray;
            }
          }
        }
      }
    }
  }

  .box-paymentDetails-dataDelivery {
    display: flex;
    margin: 2rem 0;
    overflow-x: auto;
    @include lg {
      overflow-x: hidden;
    }
    .box-headerDetails {
      display: flex;
      margin-bottom: 0.9rem;
      .title-details {
        flex: 6;
        font-family: $font-family-open-sans-bold;
        font-size: $font-size-lg;
        line-height: 1.67;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: $color-almostBlack;
        @include lg {
          line-height: 1;
          letter-spacing: -0.5px;
          color: $color-black;
          font-size: $font-size-il;
          font-family: $font-family-nunito-regular;
          text-transform: initial;
        }
      }
      .link-alterDetails {
        flex: 1;
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        line-height: 1.67;
        text-align: left;
        color: $color-printi-blue;
        display: flex;
        align-items: center;
        svg {
          width: 15px;
          margin-right: 5px;
          fill: $color-printi-blue;
        }
      }
    }
    .box-paymentDetails, .box-dataDelivery {
      border: 1px solid $color-hrLightGray;
      background-color: $color-white;
      flex: 1;
      box-sizing: border-box;
      padding: 1.9rem 1.2rem;
      border-radius: 2px;
      min-width: 270px;
      @include lg {
        min-width: inherit;
      }
    }
    .box-paymentDetails {
      margin-right: 1.5rem;
      @include lg {
        margin-right: 2.5rem;
      }
    }
    .paymentDetails-dataDelivery {
      .details {
        display: flex;
        font-family: $font-family-open-sans;
        font-size: $font-size-sm;
        // line-height: 2.14;
        .firstDetail {
          flex: 5;
          color: $color-almostBlack;
          @include lg  {
            flex: 3;
          }
        }
        .secondDetail {
          flex: 9;
          color: $color-lightGray;
        }
      }
      .paymentMethod-details {
        margin-top: 2rem;
        margin-bottom: 0;
        font-family: $font-family-open-sans;
        color: $color-almostBlack;
        .typeMethod {
          color: $color-lightGray;
        }
      }
      .link-alterDetails--mobile {
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        line-height: 1.67;
        text-align: left;
        color: $color-printi-blue;
        display: flex;
        align-items: center;
        svg {
          width: 15px;
          margin-right: 5px;
          fill: $color-printi-blue;
        }
      }
    }
  }

  .box-detailsAboutProduct {
    margin: 4.2rem 0;
    .header-detailsAboutProduct {
      display: flex;
      flex-direction: column;
      @include lg {
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;
      }
      .title-detailsAboutProduct  {
        font-size: $font-size-h5;
        font-family: $font-family-open-sans-bold;
        letter-spacing: -0.5px;
        text-align: left;
        color: $color-black;
        margin-right: 0.8rem;
        margin-bottom: 0;
        @include lg {
          font-family: $font-family-nunito-regular;
          font-size: $font-size-il;
        }
      }
      .title-numberOrder {
        font-family: $font-family-nunito-regular;
        font-size: $font-size-xs;
        letter-spacing: -0.2px;
        margin-bottom: 0;
        margin-right: 1.8rem;
      }
      a {
        font-family: $font-family-open-sans;
        font-size: $font-size-xs;
        line-height: 1.67;
        text-align: left;
        color: $color-printi-blue;
      }
      &.header-detailsAboutProduct--mobile {
        .alignTitles--mobile{
          display: flex;
          justify-content: center;
          align-items: center;
          p { 
            flex: 2;
            font-size: $font-size-h5;
            font-family: $font-family-open-sans-bold;
            margin-right: 0;
          }
          a { 
            flex: 2;
            font-size: 11px;
          }
        }
      }
    }
    &.allright {
      .title-status {
        color: $color-green;
        i {
          border-radius: 100%;
          padding: 0 0.7rem;
          background-color: $color-green;
          margin-right: 0.5rem;
          svg {
            width: 10px;
            height: 10px;
            fill: $color-white;
          }
        }
      }
      .box-aboutProduct {
        .status-aboutProduct {
          .allright {
            color: $color-almostBlack;
            span {
              background-color: $color-green;
            }
          }
        }
      }
    }
    &.attention {
      .title-status {
        color: $color-melon;
        i {
          border-radius: 0;
          padding: 0;
          background-color: none;
          margin-right: 0.5rem;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
      .details-product {
        .detail {
          &.attention {
            .title-data, p {
              color: $color-melon;
            }
          }
        } 
      }
    }
    .box-aboutProduct {
      border-radius: 3px;
      // background-color: #dbdddf;
      border: solid 1px $color-hrLightGray;
      .box-statusAboutProduct-mobile {
        padding: 1rem;
        background-color: $color-white;
      }
      .status-aboutProduct {
        display: flex;
        box-sizing: border-box;
        padding: 1rem 2rem;
        background-color: $color-white;
        overflow-x: scroll;
        margin-bottom: 0;
        @include lg {
          padding: 1rem 4rem; 
          background-color: #eeeeee;
          margin-bottom: inherit;
          overflow: hidden;
        }
        li {
          flex: 1;
          text-align: center;
          line-height: 2.5;
          font-family: $font-family-open-sans;
          font-size: $font-size-xs;
          color: $color-lightGray3;
          // color: $color-almostBlack;
          span {
            border-radius: 100%;
            padding: 0.2rem 0.7rem;
            background-color: $color-lightGray3;
            margin-right: 0.5rem;
            color: $color-white;
          }
        }
        &.scroll-statusMobile {
          display: flex;
          overflow-x: auto;
          border: 1px solid $color-lightGray3;
          padding: 1rem 0.5rem;
          li {
            position: relative;
            span {
              padding: 0.01rem 0.8rem;
              &:after {
                content: '';
                width: 80%;
                height: 1px;
                background-color: $color-lightGray3;
                // background-color: #36c265;
                position: absolute;
                top: 20%;
                left: -53%;
                margin: 0 12px;
              }
            }
            &:first-of-type{
              span {
                &:after {
                  width: 0;
                  top: 0;
                  height: 0;
                }
              }
            }
            &.allright {
              span {
                &:after {
                  background-color: #36c265;
                }
              }
            }
          }
          li {
            flex: 1;
            box-sizing: border-box;
            padding: 0;
            border-radius: 2px;
            min-width: 120px;
            .legend-statusProduct {
              font-family: $font-family-open-sans-bold;
              font-size: $font-size-xxs;
              text-transform: uppercase;
              line-height: 1.36;
              letter-spacing: 1.1px;
              text-align: center;
              color: $color-lightGray;
            }
          }
        }
      }
      .box-detailsTransport {
        box-sizing: border-box;
        padding: 1rem 2rem;
        background-color: $color-white; 
        @include lg {
          padding: 1rem 3rem;
        }
        .titlesDetails-product{
          display:flex;
          font-family: $font-family-open-sans-bold;
          font-size: $font-size-xs;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          text-align: left;
          color: $color-almostBlack;
          border-bottom: 1px solid $color-hrLightGray;
          li {
            flex: 1;
            margin-bottom: 1rem;
            &:first-of-type {
              flex: 2;
            }
          }
        }
        .details-product {
          display: flex;
          flex-direction: column;
          @include lg {
            padding: 1rem 3rem;
            flex-direction: row;
          }
          .detail {
            flex: 1;
            font-family: $font-family-open-sans;
            font-size: 12px;
            line-height: 1.25;
            color: $color-almostBlack;
            margin-bottom: 4.8rem;
            @include lg {
              margin-bottom: 2rem;
              margin-bottom: inherit;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
            .title-data {
              margin-bottom: 0;
              font-size: $font-size-lg;
            }
            .title-imageProduct--mobile{
              border-bottom: 1px solid #dbdddf;
              margin-bottom: 2rem;
              .title--mobile {
                font-family: $font-family-open-sans-bold;
                font-size: $font-size-xs;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1;
                letter-spacing: 1.2px;
                color: $color-almostBlack;
              }
            }
            .box-calendarProduct--mobile {
              display: flex;
              align-items: center;
              margin-bottom: 2.9rem;
              .icon-calendarProduct {
                flex: 1;
                svg {
                  width: 19px;
                  height: 17px;
                }
              }
              .text-calendarProduct {
                flex: 5;
                p {
                  margin-bottom: 0;
                }
              }
              &.text-uploadArt {
                color: $color-melon;
                svg {
                  fill: $color-melon;
                }
              }
            }
            &:first-of-type {
              flex: 2;
            }
            &.imageProduct {
              display: flex;
              flex-direction: column;
              @include lg {
                flex-direction: row;
              }
              >div {
                flex: 1;
                &:last-of-type {
                  flex: 2;
                  p {
                    padding: 0 0 0 3rem;
                    @include lg {
                      padding: 0 5rem 0 3rem;
                    }
                  }
                }
                .box-imageProduct--mobile {
                  display: flex;
                  flex-direction: row;
                  >div {
                    flex: 1;
                    &:last-of-type {
                      flex: 2;
                      margin-left: 1rem;
                      @include lg {
                        margin-left: inherit;
                        flex: 1;
                      }
                    }
                  }
                }
              }
              .title-status {
                font-size: 18px;
                line-height: 1.11;
                i {
                  //border-radius: 100%;
                  //padding: 0 0.7rem;
                  //background-color: $color-green;
                  //margin-right: 0.5rem;
                  svg {
                    //width: 10px;
                    //height: 10px;
                    //fill: $color-white;
                  }
                }
              }
            }
            .btn-default {
              display: flex;
              height: 30px;
              max-width: 200px;
              align-items: center;
              justify-content: center;
              font-size: 10px;
              font-weight: 600;
              line-height: 3;
              letter-spacing: 1px;
              text-align: center;
              color: $color-printi-blue;
              padding: 0.25rem 3.3rem;
              border: 1px solid $color-printi-blue;
              i {
                float: left;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                svg {
                  width: inherit;
                  height: inherit;
                  position: relative;
                  fill: $color-printi-blue;
                }
              }
              &:first-of-type {
                margin-bottom: 1rem;
              }
              // btn without height and max width
              &.w-mxw {
                max-width: inherit;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

.container-myaddresses {
  margin-bottom: 3rem;
  @include lg {
    background-color: $color-white;
    flex: 5;
    box-sizing: border-box;
    padding: 2rem 6rem 0 6rem;
    margin-bottom: 0;
  }
  .container {
    width: auto;
  }
  .app__breadcrumb {
    margin-bottom: 2.4rem;
  }
  .title-myAddresses {
    margin-top:2.8rem;
    @include lg {
      margin-top: inherit;
      margin-bottom:2.8rem;
    }
  }
  .subtitle-myAddresses {
    font-family: $font-family-nunito-light;
    font-size: $font-size-h4;
    font-weight: 300;
    line-height: 1.11;
    text-align: left;
    color: $color-almostBlack;
    text-transform: none;
    margin-top: 1.4rem;
    @include lg {
      padding-bottom: 0;
      margin-bottom: 3.4rem;
      font-size: $font-size-xl;
      margin-top: 1.4rem;
    }
  }
  .header-accordion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .title-addresses {
      // margin: 2.2rem 0 1.6rem 0;
      font-family: $font-family-open-sans-regular;
      font-size: $font-size-h4;
      color: $color-black;
      margin-bottom: 0;
      @include lg {
        // margin: 3.2rem 0 2.7rem 0;
      }
    }
  }
  >div { 
    margin-bottom: 3rem;
    .btn-addresses--mobile {
      @include center-child-flex;
      background: transparent;
      margin-top: 2rem;

      button {
        align-items: center;
        border: 0.1rem solid $color-lightGray;
        color: $color-lightGray;
        font-size: 1rem;
        height: 4rem;
        margin: 0;
        max-width: 20rem;

        svg {
          fill: currentColor;
        }
      }
    }
  }
  .box-addressDelivery {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin-bottom: 0;
    @include lg {
      flex-wrap: wrap;
      overflow-x: hidden;
      flex-direction: row;
      margin: 1rem 0 3.7rem 0;
    }
    > div,
    > button {
      border: 1px solid #dbdddf;
      border-radius: 2px;
      min-width: 270px;
      flex: 1;
      flex-basis: calc((100% / 2) - 14px);
      margin: 0 0.5rem 2rem 0.5rem;
      box-sizing: border-box;
      padding: 1.9rem 1.2rem;
      background-color: $color-white;
      @include lg {
        //max-width: 410px;
        min-height: 270px;
        margin: 0 0.9rem 2rem 0.9rem;
      }
      &:nth-of-type(2n-1){
        margin-left: 0;
      }
      &:nth-of-type(2n){
        margin-right: 0;
        margin-left: 0;
        @include lg {
          margin-right: 0;
        }
      }
      .headerTitle-address {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.8rem;
        > div {
          flex: 1;
          &:first-of-type {
            flex: 7;
            @include lg {
              flex: 3;
            }
          }
          h5 {
            margin-bottom: 0;
          }
          &.text-edit, &.text-delete {
            color: $color-printi-blue;
            font-family: $font-family-open-sans;
            font-size: $font-size-sm;
            line-height: 1;

            button {
              background: transparent;
              border: 0 transparent;
              color: currentColor;
            }
            svg {
              fill: currentColor;
              height: 1.2rem;
              margin-right: 0.8rem;
              width: 1.3rem;
            }
          }
          &.text-delete {
            color: $color-melon;
          }
        }
      }
      .details-address {
        display: flex;
        flex-direction: column;
        .details {
          display: flex;
          flex: 1;
          font-family: $font-family-open-sans;
          font-size: $font-size-sm;
          .firstDetail {
            flex: 1;
            color: $color-almostBlack;
          }
          .secondDetail {
            flex:2;
            color: $color-lightGray;
          }
        }
      }

      &.box-addNewAddress {
        @include center-child-flex
        background-color: $color-lightBlue;
        border: 0.2rem dotted $color-printi-blue;
        cursor: pointer;
        max-width: 49.5%;

        svg {
          fill: $color-printi-blue;
        }
      }
    }
  }
}

.container-templateModels {
  margin: 4rem 0 3rem 0;
  @include lg {
    background-color: $color-white;
    flex: 5;
    box-sizing: border-box;
    padding: 2rem 6rem 3rem 6rem;
    margin: 0;
  }
  .container {
    width: auto;
  }
  .subtitle-templateModels{
    font-family: $font-family-nunito-light;
    font-size: $font-size-h4;
    font-weight: 300;
    line-height: 1.11;
    text-align: left;
    color: $color-almostBlack;
    text-transform: none;
    margin-top: 1.4rem;
    padding-bottom: 0;
    @include lg {
      font-size: $font-size-xl;
      margin-top: 2.4rem;
    }
  }
  .box-templateModels {
    .org-input-research {
      display: flex;
      font-family: $font-family-open-sans;
      font-size: $font-size-xs;
      margin: 3.9rem 0 2.1rem 0;
      flex-direction: column;
      @include lg {
        flex-direction: row;
      }
      .mol-input-text, .mol-select-research {
        color: $color-almostBlack;
        margin-bottom: 0.5rem;
        @include lg {
          margin-bottom: initial;
        }
      }
      .mol-input-text {
        flex: 2;
        &::-webkit-input-placeholder {
          color: $color-almostBlack;
        }
      }
      .mol-select-research {
        flex:1;
      }
    }
    .box-itensModel {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      @include lg {
        flex-direction: row;
      }
      .itemModel {
        border-radius: 2px;
        border: solid 1px #dbdddf;
        box-sizing: border-box;
        padding: 2rem;
        flex: 1;
        flex-basis: calc((100% / 2) - 10px);
        margin: 0.5rem 0.5rem;
        background-color: $color-white;
        &:nth-of-type(2n-1){
          margin-left: 0;
        }
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        .title-item {
          font-size: $font-size-h4;
          font-family: $font-family-nunito-light;
          letter-spacing: -0.5px;
          color: $color-black;
          @include lg {
            font-size: $font-size-il;
          }
        }
        .img-itemModel {
          margin: 3rem 0;
          display: flex;
          justify-content: center;
        }
        .btn-itemModel {
          display: flex;
          justify-content: center;
          align-items: center;
          .btn-item {
            flex: 1;
            &:first-of-type {
              flex:2;
            }
            i {
              svg {
                width: 15px;
                height: 15px;
              }
            }
            &.fnt-edit-delete {
              font-family: $font-family-open-sans;
              font-size: $font-size-sm;
              line-height: 2.14;
              color: $color-printi-blue;
              .icon-edit {
                color: $color-printi-blue;
                margin-right: 1.2rem;
                svg {
                  fill: $color-printi-blue;
                }
              }
              .icon-delete {
                color: $color-melon;
                svg {
                  fill: $color-melon;
                }
              }
            }
            &.btn-item--mobile {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}


  .org-input-research {
    .mol-input-text, .mol-select-research {
      height: 5rem;
      background-color: $color-white;
      border: 1px solid #dbdddf;
      box-sizing: border-box;
      padding: 0.9rem 1.0rem;
      cursor: pointer;
    }
    .mol-select-research {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}
